<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/demo.css">

    <link rel="stylesheet" type="text/css" href="/static/css/tagEditor/jquery.tag-editor.css">
</head>
<body>

<table id="sdtBdiBusiRuleDataGrid"></table>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/easyui/utils/utils.js"></script>

<script type="text/javascript" src="/static/js/caret/jquery.caret.min.js"></script>
<script type="text/javascript" src="/static/js/tagEditor/jquery.tag-editor.js"></script>

<script type="text/javascript">
    var checkedSdtBdiBusiRuleIndex = undefined;
    var bdiId = '{{.bdiId}}';

    $(function () {
        $('#sdtBdiBusiRuleDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 30,
            pageList: [30, 60, 90],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiBusiRule/all?bdiId=' + bdiId,
            height: '390px',
            toolbar: [/*{
                text: '新增字段',
                iconCls: 'icon-add',
                handler: function () {
                    bdiBusiFieldsAddDialog();
                }
            }*/],
            columns: [[
                {
                    field: 'sdt_bdi_busi_rule_oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" class="selectSdtBdiBusiRuleRadioClass" name="selectSdtBdiBusiRuleRadio" id="selectSdtBdiBusiRuleRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'Id', title: 'Id', width: '50px', align: 'center', hidden: true
                },
                {
                    field: 'BdiId', title: 'BdiId', width: '50px', align: 'center', hidden: true
                },
//                {
//                    field: 'FieldId', title: '业务字段ID', width: '150px', align: 'left', hidden: false
//                },
                {
                    field: 'Name', title: '规则名称', width: '120px', align: 'left'
                },
                {
                    field: 'OperatorTypeName', title: '运算符类型', width: '220px', align: 'left'
                },
                {
                    field: 'OperatorName', title: '运算符', width: '130px', align: 'center'
                },
                {
                    field: 'Params', title: '参数', width: '130px', align: 'left'
                },
                {
                    field: 'sdt_bdi_busi_rule_opt', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="sdtBdiBusiRuleClass" onclick="processRuleDialog(' + rowData.Id + ')">配置</a>';
                    }
                }
            ]],
            onLoadSuccess: function (data) {
                $('.sdtBdiBusiRuleClass').linkbutton({plain: true, iconCls: 'icon-add'});
            },
            onClickRow: function (index, row) {
                checkedSdtBdiBusiRuleIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiRuleRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiRuleRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiRuleRadioClass")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedSdtBdiBusiRuleIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiRuleRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiRuleRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiRuleRadioClass")[index].checked = false;
                }
            }
        });
    });

    /**
     * 配置。
     */
    function processRuleDialog(busiRuleId) {
        $('<div></div>').dialog({
            id: 'processRuleDialog',
            title: '业务字段加工配置',
            width: '500px',
            height: '390px',
            draggable: false,
            resizable: false,
            closed: false,
            cache: false,
            href: '/sdtBdiBusiRule/processFields?busiRuleId=' + busiRuleId,
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addBusiRuleProcessFieldsForm').form('submit', {
                        url: '/sdtBdiBusiRule/processFields/update',
                        onSubmit: function () {
                            return $("#addBusiRuleProcessFieldsForm").form("validate");
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#processRuleDialog").dialog('destroy');
                                $('#sdtBdiBusiRuleDataGrid').datagrid('reload');
                                $("#sdtBdiBusiRuleDataGrid").datagrid("unselectRow", checkedSdtBdiBusiRuleIndex);
                                checkedSdtBdiBusiRuleIndex = undefined;
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#processRuleDialog").dialog('destroy');
                    $("#sdtBdiBusiRuleDataGrid").datagrid("unselectRow", checkedSdtBdiBusiRuleIndex);
                    checkedSdtBdiBusiRuleIndex = undefined;
                }
            }]
        });
    }
</script>

</body>
</html>