<table id="sdtBdiCfgKpiDataGrid"></table>

<script type="text/javascript">
    var bdiId = "{{.bdiId}}";

    $(function () {
        $('#sdtBdiCfgKpiDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 10,
            idField: 'KpiId',
            pagination: true,
            url: '/sdtBdiCfgKpi/all',
            height: '390px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addSdtBdiCfgKpiDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiCfgKpiDialog();
                }
            }],
            columns: [[
                {
                    field: 'sdtBdiCfgKpiDataGridOid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" class="bdiCfgKpiCss" name="sdtBdiCfgKpiDataGridSelectRadio" id="sdtBdiCfgKpiDataGridSelectRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'KpiId', title: 'KpiId', width: '80px', align: 'center', hidden: true
                },
                {
                    field: 'KpiName', title: 'Kpi名称', width: '150px', align: 'center'
                },
                {
                    field: 'Remarks', title: '备注', width: '150px', align: 'center'
                },
                {
                    field: 'BdiBaseName', title: '库', width: '130px', align: 'center'
                },
                {
                    field: 'BdiDomainName', title: '域', width: '100px', align: 'center'
                },
                {
                    field: 'BdiSetName', title: '集', width: '150px', align: 'center'
                },
                {
                    field: 'BdiName', title: '项', width: '150px', align: 'center'
                }
            ]],
            onLoadSuccess: function (data) {
            },
            onClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".bdiCfgKpiCss")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".bdiCfgKpiCss")[index].checked = true;
                } else {
                    $(".bdiCfgKpiCss")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".bdiCfgKpiCss")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".bdiCfgKpiCss")[index].checked = true;
                } else {
                    $(".bdiCfgKpiCss")[index].checked = false;
                }

                updateSdtBdiCfgKpiDialog();
            }
        });
    });

    function addSdtBdiCfgKpiDialog() {
        $('<div></div>').dialog({
            id: 'addSdtBdiCfgKpiDialog',
            title: '新增配置KPI',
            width: '500px',
            height: '300px',
            closed: false,
            cache: false,
            href: '/sdtBdiCfgKpi/addPage?bdiId=' + bdiId,
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addSdtBdiCfgKpiForm').form('submit', {
                        url: '/sdtBdiCfgKpi/add',
                        onSubmit: function () {
                            if ($("#addSdtBdiCfgKpiForm").form("validate")) {
                                var res = $("#bdiCfgDimIdsCombobox").combobox('getValues');
                                $("#bdiCfgDimIds").val(res.toString());
                                return true;
                            } else {
                                return false;
                            }
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#addSdtBdiCfgKpiDialog").dialog('destroy');
                                $('#sdtBdiCfgKpiDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addSdtBdiCfgKpiDialog").dialog('destroy');
                }
            }]
        });
    }

    function updateSdtBdiCfgKpiDialog() {
        var row = $("#sdtBdiCfgKpiDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateSdtBdiCfgKpiDialog',
                title: '修改Kpi内容',
                width: '500px',
                height: '300px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiCfgKpi/updatePage?kpiId=' + row.KpiId,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        debugger;
                        //提交表单
                        $('#updateBdiForm').form('submit', {
                            url: '/sdtBdiCfgKpi/update',
                            onSubmit: function () {
                                debugger;
                                if ($("#updateBdiForm").form("validate")) {
                                    var res = $("#bdiSetIdsCombobox").combobox('getValues');
                                    $("#bdiSetIds").val(res.toString());
                                    return true;
                                } else {
                                    return false;
                                }
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                debugger;
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $("#updateSdtBdiCfgKpiDialog").dialog('destroy');
                                    $('#sdtBdiCfgKpiDataGrid').datagrid('reload');
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateSdtBdiCfgKpiDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }
</script>