<div id="loading" style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="updateBdiForm" method="post">
    <input type="hidden" id="bdiId" name="bdiId"/>
    <input type="hidden" id="bdiSetIds" name="bdiSetIds"/>
    <table>
        <tr>
            <th>指标名称：</th>
            <td>
                <input name="bdiName" id="bdiName"/>
            </td>
        </tr>

        <tr>
            <th>指标加密级别：</th>
            <td>
                <input name="bdiSecrecyId" id="bdiSecrecyId"/>
            </td>
        </tr>

        <tr>
            <th>指标类型：</th>
            <td>
                <input name="bdiTypeId" id="bdiTypeId"/>
            </td>
        </tr>

        <tr>
            <th>所属指标集：</th>
            <td>
                <input name="bdiSetIdsCombobox" id="bdiSetIdsCombobox"/>
            </td>
        </tr>
        <tr>
            <th>指标备注：</th>
            <td>
                <input name="remarks" id="remarks">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    }

    $(function () {
        initUpdateSdtBdiDialog();
    })


    /**
     * 初始化修改窗口。
     */
    function initUpdateSdtBdiDialog() {
        $("#bdiId").val('{{.sdtBdi.BdiId}}');

        //指标集名称
        $('#bdiName').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: '{{.sdtBdi.BdiName}}'
        });

        //指标加密级别
        $('#bdiSecrecyId').combobox({
            url: '/sdt/sdtBdiSecrecyForList',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            required: true,
            value: '{{.sdtBdi.BdiSecrecyId}}'
        });

        //指标类型
        $('#bdiTypeId').combobox({
            url: '/sdt/sdtTypeSetForList',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            required: true,
            value: '{{.sdtBdi.BdiTypeId}}'
        });

        //指标集
        $('#bdiSetIdsCombobox').combobox({
            url: '/sdt/sdtBdiSetForList',
            editable: false,
            required: true,
            method: 'get',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            multiple: true,
            formatter: function (row) {
                var opts = $(this).combobox('options');
                return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]
            },

            onShowPanel: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onLoadSuccess: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onSelect: function (row) {
                //console.log(row);
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', true);
            },
            onUnselect: function (row) {
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', false);
            }
        });

        var bdiIds = "{{.sdtBdi.BdiSetIds}}";
        $("#bdiSetIdsCombobox").combobox('setValues', bdiIds.split(","));

        //指标库备注
        $('#remarks').textbox({
            editable: true,
            required: true,
            readonly: false,
            value: '{{.sdtBdi.Remarks}}'
        });
    }
</script>