<div id="loading"
     style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="addDatasourceForm" method="post">
    <!--数据源连接详情-->
    <input type="hidden" name="datasourceConnect" id="datasourceConnect"/>

    <table cellpadding="5">
        <tr>
            <td>数据源名称：</td>
            <td>
                <input name="name" id="name"/>
            </td>
        </tr>
        <tr>
            <td>数据源类型：</td>
            <td>
                <input name="typeId" id="typeId"/>
            </td>
        </tr>
        <tr>
            <td>主机IP地址：</td>
            <td>
                <input name="ip" id="ip">
            </td>
        </tr>
        <tr>
            <td>端口号：</td>
            <td>
                <input name="port" id="port">
            </td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td>
                <input name="username" id="username">
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input name="password" id="password">
            </td>
        </tr>
        <tr>
            <td>数据库：</td>
            <td>
                <input name="dbname" id="dbname">
            </td>
        </tr>
        <tr>
            <td>备注：</td>
            <td>
                <input name="remarks" id="remarks">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    //自定义验证
    $.extend($.fn.validatebox.defaults.rules, {
        ipRex: {
            validator: function (value) {
                var re = /^([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$/;
                return re.test(value);
            },
            message: '请输入正确的ip地址'
        }
    });

    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    };

    $(function () {
        initAddDatasourceDialog();

        $('input.easyui-validatebox').validatebox({
            tipOptions: {    // the options to create tooltip
                showEvent: 'mouseenter',
                hideEvent: 'mouseleave',
                showDelay: 0,
                hideDelay: 0,
                zIndex: '',
                onShow: function () {
                    if (!$(this).hasClass('validatebox-invalid')) {
                        if ($(this).tooltip('options').prompt) {
                            $(this).tooltip('update', $(this).tooltip('options').prompt);
                        } else {
                            $(this).tooltip('tip').hide();
                        }
                    } else {
                        $(this).tooltip('tip').css({
                            color: '#000',
                            borderColor: '#CC9933',
                            backgroundColor: '#FFFFCC'
                        });
                    }
                },
                onHide: function () {
                    if (!$(this).tooltip('options').prompt) {
                        $(this).tooltip('destroy');
                    }
                }
            }
        }).tooltip({
            position: 'right',
            content: function () {
                var opts = $(this).validatebox('options');
                return opts.prompt;
            },
            onShow: function () {
                $(this).tooltip('tip').css({
                    color: '#000',
                    borderColor: '#CC9933',
                    backgroundColor: '#FFFFCC'
                });
            }
        });
    });

    /**
     * 初始化新增窗口。
     */
    function initAddDatasourceDialog() {
        //数据源名称
        $('#name').textbox({
            editable: true,
            readonly: false,
            required: true,
            validType: 'length[1, 100]',
            value: ''
        });

        //数据源类型
        $('#typeId').combobox({
            url: '/sdt/datasourceForList',
            editable: false,
            required: true,
            method: 'get',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            multiple: false,
            value: ''
        });

        //指标库备注
        $('#remarks').textbox({
            editable: true,
            height: '80px',
            required: true,
            readonly: false,
            multiline: true,
            value: ''
        });

        //----以下信息保存以json格式保存，datasourceConnect字段存储这些配置信息
        //主机IP地址
        $('#ip').validatebox({
            editable: true,
            readonly: false,
            required: true,
            validType: 'ipRex',
            value: ''
        });

        //端口号
        $('#port').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        //用户名
        $('#username').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        //密码
        $('#password').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        //数据源库
        $('#dbname').combobox({
            url: '',
            editable: false,
            required: true,
            method: 'get',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxWidth: '500px',
            panelMaxHeight: '150px',
            multiple: false,
            onShowPanel: function () {
                $('#dbname').combobox("clear");

                var dataInfo = {
                    ip: $("#ip").val(),
                    port: $("#port").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    databaseType: $('#typeId').combobox('getText')
                };

                $.ajax({
                    url: '/datasource/check',
                    async: false,
                    cache: false,
                    type: "GET",
                    data: dataInfo,
                    success: function (data) {
                        $('#dbname').combobox("clear");

                        if (data.success == "true" || data.success) {
                            $('#dbname').combobox('loadData', data.databaseInfo);
                        } else {
                            $('#dbname').combobox('loadData', '');
                            $.messager.alert('提示信息', data.message);
                        }
                    },
                    dataType: 'json'
                });
            }
        });
    }
</script>