<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/demo.css">
</head>
<body>

<table id="datasourceDataGrid"></table>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/easyui/utils/utils.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datasourceDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: false,
            pageNumber: 1,
            pageSize: 10,
            idField: 'BdiId',
            pagination: true,
            url: '/datasource/all',
            height: '390px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addDatasourceDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateDatasourceDialog();
                }
            }],
            columns: [[
                {
                    field: 'oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" name="selectRadio" id="selectRadio"' + index + ' value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'BdiDatasourceId', title: '数据源Id', width: '100px', align: 'center'
                },
                {
                    field: 'BdiDatasourceName', title: '数据源名称', width: '300px', align: 'center'
                },
                {
                    field: 'BdiDatasourceTypeName', title: '数据源类型', width: '150px', align: 'center'
                },
                {
                    field: 'DatasourceConnect', title: '数据源连接详情', width: '150px', align: 'center',
                    formatter: function (value, row, index) {
                        return value.replace(/#0F01/g, "{").replace(/#0F02/g, "\"").replace(/#0F03/g, "}");
                    }
                },
                {
                    field: 'Remarks', title: '备注', width: '250px', align: 'center'
                }
            ]],
            onClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }

                updateDatasourceDialog();
            }
        });

    })

    function addDatasourceDialog() {
        $('<div></div>').dialog({
            id: 'addDatasourceDialog',
            title: '新增数据源',
            width: '500px',
            height: '350px',
            closed: false,
            cache: false,
            href: '/datasource/addPage',
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addDatasourceForm').form('submit', {
                        url: '/datasource/add',
                        onSubmit: function () {
                            if ($("#addDatasourceForm").form("validate")) {
                                var dataInfo = {
                                    ip: $("#ip").val(),
                                    port: $("#port").val(),
                                    username: $("#username").val(),
                                    password: $("#password").val(),
                                    schemata: $("#schemata").combobox('getValue')
                                };

                                var stringJSON = JSON.stringify(dataInfo);
                                //替换指定字符，后台以字符串形式保存
                                // { -> #0F01
                                // " -> #0F02
                                // } -> #0F03
                                stringJSON = stringJSON.replace("{", "#0F01").replace(/"/g, "#0F02").replace("}", "#0F03");
                                $("#datasourceConnect").val(stringJSON);
                                return true;
                            } else {
                                return false;
                            }
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $('#datasourceDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                            $("#addDatasourceDialog").dialog('destroy');
                            $('#datasourceDataGrid').datagrid('reload');
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addDatasourceDialog").dialog('destroy');
                }
            }]
        });
    }

    function updateDatasourceDialog() {
        var row = $("#datasourceDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateDatasourceDialog',
                title: '修改数据源内容',
                width: '500px',
                height: '350px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/datasource/updatePage?bdiDatasourceId=' + row.BdiDatasourceId,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //提交表单
                        $('#updateDatasourceForm').form('submit', {
                            url: '/datasource/update',
                            onSubmit: function () {
                                if ($("#updateDatasourceForm").form("validate")) {
                                    var dataInfo = {
                                        ip: $("#ip").val(),
                                        port: $("#port").val(),
                                        username: $("#username").val(),
                                        password: $("#password").val(),
                                        schemata: $("#schemata").combobox('getValue')
                                    };

                                    var stringJSON = JSON.stringify(dataInfo);
                                    //替换指定字符，后台以字符串形式保存
                                    // { -> #0F01
                                    // " -> #0F02
                                    // } -> #0F03
                                    stringJSON = stringJSON.replace("{", "#0F01").replace(/"/g, "#0F02").replace("}", "#0F03");
                                    $("#datasourceConnect").val(stringJSON);
                                    return true;
                                } else {
                                    return false;
                                }
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $('#datasourceDataGrid').datagrid('reload');
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }

                                $("#updateDatasourceDialog").dialog('destroy');
                                $('#datasourceDataGrid').datagrid('reload');
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateDatasourceDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    /**
     * 删除BdiSet。
     */
    function deleteBdiSet(bdiId) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/datasource/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {bdiId: bdiId},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#datasourceDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>

</body>
</html>