<div id="loading" style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="updateDatasourceForm" method="post">
    <input type="hidden" id="bdiDatasourceId" name="bdiDatasourceId"/>
    <table>
        <tr>
            <th>数据源名称：</th>
            <td>
                <input name="bdiDatasourceName" id="bdiDatasourceName"/>
            </td>
        </tr>

        <tr>
            <th>数据源类型：</th>
            <td>
                <input name="bdiDatasourceTypeId" id="bdiDatasourceTypeId"/>
            </td>
        </tr>

        <tr>
            <th>数据源连接详情：</th>
            <td>
                <input name="datasourceConnect" id="datasourceConnect"/>
            </td>
        </tr>
        <tr>
            <th>备注：</th>
            <td>
                <input name="remarks" id="remarks">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    }

    $(function () {
        initUpdateDatasourceDialog();
    })


    /**
     * 初始化修改窗口。
     */
    function initUpdateDatasourceDialog() {
        $("#bdiDatasourceId").val('{{.datasource.BdiDatasourceId}}');

        //数据源名称
        $('#bdiDatasourceName').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: '{{.datasource.BdiDatasourceName}}'
        });

        //数据源类型
        $('#bdiDatasourceTypeId').combobox({
            url: '/sdt/sdtTypeSetForList',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            required: true,
            value: ''
        });

        //指标集
        $('#DatasourceConnect').combobox({
            url: '/sdt/sdtBdiSetForList',
            editable: false,
            required: true,
            method: 'get',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            multiple: true,
            formatter: function (row) {
                var opts = $(this).combobox('options');
                return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]
            },

            onShowPanel: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onLoadSuccess: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onSelect: function (row) {
                //console.log(row);
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', true);
            },
            onUnselect: function (row) {
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', false);
            }
        });


        //指标库备注
        $('#remarks').textbox({
            editable: true,
            required: true,
            readonly: false
        });
    }
</script>