<table id="sdtBdiBusiConfigDataGrid"></table>

<script type="text/javascript">
    var checkedSdtBdiBusiIndex = undefined;
    var bdiId = '{{.bdiId}}';

    $(function () {
        $('#sdtBdiBusiConfigDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 30, 50],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiBusiConfig/all?bdiId=' + bdiId,
            height: '390px',
            toolbar: [{
                iconCls: 'icon-edit',
                text: '加工处理',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiBusiConfigDialog();
                }
            }],
            columns: [[
                {
                    field: 'sdt_bdi_busi_config_oid',
                    title: '选择',
                    width: '50px',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<input type="radio" class="selectSdtBdiBusiConfigRadioClass" name="selectSdtBdiBusiConfigRadio" id="selectSdtBdiBusiConfigRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'busi_config_ctr',
                    title: '操作',
                    width: '100px',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var e = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, true)">上</button>';
                        var d = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, false)">下</button>';
                        return e + d;
                    }
                },
                {
                    field: 'Id', title: 'Id', width: '50px', align: 'center', hidden: true
                },
//                {
//                    field: 'BusiId', title: '业务表ID', width: '80px', align: 'center', hidden: false
//                },
                {
                    field: 'Sequence', title: '序号', width: '50px', align: 'center'
                },
                {
                    field: 'Name', title: '配置业务表名', width: '260px', align: 'left', halign: 'center'
                },
                {
                    field: 'CnName', title: '配置业务表中文名', width: '180px', align: 'left', halign: 'center'
                },
                {
                    field: 'SelectStar', title: '选择字段', width: '150px', align: 'left', halign: 'center'
                },
                {
                    field: 'ProcessColumn', title: '处理字段', width: '220px', align: 'left', halign: 'center'
                },
                {
                    field: 'AsName', title: '别名', width: '150px', align: 'left', halign: 'center'
                },
                {
                    field: 'ProcessDataType', title: '数据类型', width: '100px', align: 'left', halign: 'center'
                },
                {
                    field: 'ProcessDataLength', title: '数据长度', width: '100px', align: 'left', halign: 'center'
                },
                {
                    field: 'ProcessType', title: '处理类型', width: '110px', align: 'left', halign: 'center'
                },
                {
                    field: 'Params', title: '参数', width: '180px', align: 'left', halign: 'center'
                }
            ]],
            onLoadSuccess: function (data) {
            },
            onClickRow: function (index, row) {
                checkedSdtBdiBusiIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiConfigRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiConfigRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiConfigRadioClass")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedSdtBdiBusiIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiConfigRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiConfigRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiConfigRadioClass")[index].checked = false;
                }

                updateSdtBdiBusiConfigDialog();
            }
        });
    });

    /**
     * 更新指标计算业务表(sdt_bdi_busi_config)-Dialog。
     */
    function updateSdtBdiBusiConfigDialog() {
        var row = $("#sdtBdiBusiConfigDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateSdtBdiBusiConfigDialog',
                title: '更新指标业务配置表',
                width: '1000px',
                height: '560px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiBusiConfig/updatePage?id=' + row.Id,
                modal: true,
                onLoad: function () {
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //提交表单
                        $('#updateSdtBdiBusiConfigForm').form('submit', {
                            url: '/sdtBdiBusiConfig/update',
                            onSubmit: function () {
                                if ($("#updateSdtBdiBusiConfigForm").form("validate")) {
                                    debugger;
                                    var processTypeValue = $("#processType").combobox("getValue");
                                    if (processTypeValue == 'inner-join' || processTypeValue == 'left-join' || processTypeValue == 'right-join' ||
                                            processTypeValue == 'full-join' || processTypeValue == 'cross-join') {
                                        var processColTagValue = $('#processColTag_' + processTypeValue).tagEditor('getTags')[0].tags;
                                        var processColOpTagValue = $('#processColOpTag_' + processTypeValue).tagEditor('getTags')[0].tags;
                                        var processParamsTagValue = $('#processParamsTag_' + processTypeValue).tagEditor('getTags')[0].tags;

                                        var whereColTagValue = $('#whereColTag_' + processTypeValue).tagEditor('getTags')[0].tags;
                                        var whereColOpTagValue = $('#whereColOpTag_' + processTypeValue).tagEditor('getTags')[0].tags;
                                        var whereParamsTagValue = $('#whereParamsTag_' + processTypeValue).tagEditor('getTags')[0].tags;

                                        if(whereColTagValue != '') {
                                            processColTagValue += ',[' + whereColTagValue + ']';
                                        }

                                        if(whereColOpTagValue != '') {
                                            processColOpTagValue += ',[' + whereColOpTagValue + ']';
                                        }

                                        if(whereParamsTagValue != '') {
                                            processParamsTagValue += ',[' + whereParamsTagValue + ']';
                                        }

                                        $("#processDataType").val($("#processDataType").val() + ($("#tempProcessDataType").val() == '' ? '' : ',[' + $("#tempProcessDataType").val() + ']'));
                                        $("#processDataLength").val($("#processDataLength").val() + ($("#tempProcessDataLength").val() == '' ? '' : ',[' + $("#tempProcessDataLength").val() + ']'));

                                    }

                                    $('#processColumn').val(processColTagValue);
                                    $('#operators').val(processColOpTagValue);
                                    $('#params').val(processParamsTagValue);

                                    return true;
                                }

                                return $("#updateSdtBdiBusiConfigForm").form("validate");
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $('#sdtBdiBusiConfigDataGrid').datagrid('reload');
                                    $("#updateSdtBdiBusiConfigDialog").dialog('destroy');
                                    $("#sdtBdiBusiConfigDataGrid").datagrid("unselectRow", checkedSdtBdiBusiIndex);
                                    checkedSdtBdiBusiIndex = undefined;
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateSdtBdiBusiConfigDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    //上下行移动
    function move(e, target, isUp) {
        var rows = $('#sdtBdiBusiConfigDataGrid').datagrid('getRows');

        //另一种方式取DataGrid索引
        var $view = $(target).closest('div.datagrid-view');
        var index = $(target).closest('tr.datagrid-row').attr('datagrid-row-index');
        var $row = $view.find('tr[datagrid-row-index=' + index + ']');

        if (isUp) {//上移
            if (index == 0) {//第一行不上移
            } else {
                var effectRow = new Object();
                var obj = rows[index];
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiBusiConfig/rowMoveUp',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
                            $('#sdtBdiBusiConfigDataGrid').datagrid('reload');
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiBusiConfigDataGrid').datagrid('reload');
                    }
                });
            }
        } else {//下移
            if (index == (rows.length - 1)) {//最后一行不下移
            } else {
                var effectRow = new Object();
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiBusiConfig/rowMoveDown',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
                            $('#sdtBdiBusiConfigDataGrid').datagrid('reload');
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiBusiConfigDataGrid').datagrid('reload');
                    }
                });
            }
        }
    }
</script>