<div id="loading"
     style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="addSdtBdiBusiFieldsForm" method="post">
    <input type="hidden" id="bdiId" name="bdiId"/>
    <table>
        <tr>
            <th style="width: 150px;text-align: right; padding: 5px 5px 5px 5px;">字段名称：</th>
            <td>
                <input name="name" id="name"/>
            </td>
        </tr>
        <tr>
            <th style="width: 150px;text-align: right; padding: 5px 5px 5px 5px;">字段注释：</th>
            <td>
                <input name="comment" id="comment"/>
            </td>
        </tr>
        <tr>
            <th style="width: 150px;text-align: right; padding: 5px 5px 5px 5px;">字段值：</th>
            <td>
                <input name="params" id="params"/>
            </td>
        </tr>
        <tr>
            <th style="width: 150px;text-align: right; padding: 5px 5px 5px 5px;">字段类型：</th>
            <td>
                <input name="dataType" id="dataType"/>
            </td>
        </tr>
        <tr>
            <th style="width: 150px;text-align: right; padding: 5px 5px 5px 5px;">字段长度：</th>
            <td>
                <input name="dataLength" id="dataLength"/>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    };

    $(function () {
        initAddSdtBdiBusiDialog();
    });

    /**
     * 初始化新增窗口。
     */
    function initAddSdtBdiBusiDialog() {
        $("#bdiId").val('{{.bdiId}}');

        $('#name').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        $('#comment').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        $('#params').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        $('#dataType').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            required: true,
            data: [{
                "id": "varchar",
                "text": "varchar"
            }, {
                "id": "int",
                "text": "int"
            }, {
                "id": "double",
                "text": "double"
            }]
        });

        $('#dataLength').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });
    }
</script>