<style>
    .tag-editor {
        height: 100px;
    }
</style>

<div id="busiFieldsLoading"
     style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="addBusiProcessFieldsForm" method="post">
    <input type="hidden" id="busiFieldsId" name="busiFieldsId"/>
    <input type="hidden" id="dataType" name="dataType"/>
    <input type="hidden" id="dataLength" name="dataLength"/>
    <input type="hidden" id="processType" name="processType"/>
    <input type="hidden" id="params" name="params"/>

    <table id="tb">
        <tr>
            <th style="width: 260px;text-align: right; padding: 5px 5px 5px 5px;">处理方式：</th>
            <td>
                <input name="processTypeCombobox" id="processTypeCombobox"/>
            </td>
        </tr>
        <tr>
            <th style="width: 260px;text-align: right; padding: 5px 5px 5px 5px;">字段别名：</th>
            <td>
                <input name="asName" id="asName"/>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function show() {
        $("#busiFieldsLoading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    };

    $(function () {
        initAddSdtBdiBusiFieldsDialog();
    });

    /**
     * 初始化新增窗口。
     */
    function initAddSdtBdiBusiFieldsDialog() {
        $("#busiFieldsId").val('{{.sdtBdiBusiFields.Id}}');
        $("#dataType").val('{{.sdtBdiBusiFields.DataType}}');
        $("#dataLength").val('{{.sdtBdiBusiFields.DataLength}}');

        var processTypeValue = '{{.sdtBdiBusiFields.ProcessType}}';
        var processTypeValueArray = processTypeValue.trim().split("|");

        //处理类型
        $('#processTypeCombobox').combobox({
            url: '/sdtBdiBusiFields/processType',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            multiple: true,
            value: processTypeValueArray,
            onChange: function (newValue, oldValue) {
            },
            onSelect: function (record) {
                var htmlModal = '<tr id="' + record.id + '"><td style="width: 260px;text-align: right; padding: 5px 5px 5px 5px;">处理参数(' + record.text + ')：</td>' +
                        '<td style="width: 300px;"><input name="paramsTag_' + record.id + '" id="paramsTag_' + record.id + '"/></td>' +
                        '<td><a id="selectParamsButton_' + record.id + '" href="#">选择参数</a></td>' +
                        '</tr>';
                var tr = $("#tb").append(htmlModal);

                var tagId = '#paramsTag_' + record.id;
                $(tagId).tagEditor({
                    maxTags: 100,
                    maxLength: 150,
                    removeDuplicates: false,
                    sortable: false,
                    initialTags: [],
                    forceLowercase: false,
                    placeholder: '输入完请按Enter结束',
                    onChange: function (field, editor, tags) {
                    },
                    beforeTagSave: function (field, editor, tags, tag, val) {
                    },
                    beforeTagDelete: function (field, editor, tags, val) {
                    },
                    onFocus: function () {
                    }
                });

                $('#selectParamsButton_' + record.id).linkbutton({
                    iconCls: 'icon-search',
                    onClick: function () {
                        $('<div></div>').dialog({
                            id: 'selectParamsDialog_' + record.id,
                            title: '选择表字段',
                            width: '500px',
                            height: '300px',
                            closed: false,
                            cache: false,
                            draggable: false,
                            resizable: false,
                            href: '/sdtBdiBusiFields/columnSelectTreePage',
                            modal: true,
                            onLoad: function () {
                            },
                            onClose: function () {
                                $(this).dialog('destroy');
                            },
                            buttons: [{
                                text: '保存',
                                iconCls: 'icon-ok',
                                handler: function () {
                                    var selectNode = $('#columnSelectTree').tree('getChecked');
                                    if (selectNode == undefined || selectNode == null || selectNode.length < 1) {
                                        $.messager.alert('提示信息', '请选择一个表字段!', 'info');
                                        return;
                                    }

                                    var tName = selectNode.length > 0 ? selectNode[0].attributes.tableName : null;
                                    var resArray = tName.split("_");
                                    var tableAliasTemp = '';
                                    for (var i = 0; i < resArray.length; i++) {
                                        tableAliasTemp += resArray[i].substr(0, 1);
                                    }

                                    for (var i = 0; i < selectNode.length; i++) {
                                        $(tagId).tagEditor('addTag', tableAliasTemp + "." + selectNode[i].id);
                                    }
                                    $('#selectParamsDialog_' + record.id).dialog('destroy');
                                }
                            }, {
                                text: '取消',
                                iconCls: 'icon-cancel',
                                handler: function () {
                                    $('#selectParamsDialog_' + record.id).dialog('destroy');
                                }
                            }]
                        });
                    }
                });

            },
            onUnselect: function (record) {
                $("#" + record.id).remove();
            },
            onLoadSuccess: function () {
                initTagEditor(processTypeValueArray, '{{.sdtBdiBusiFields.Params}}');//初始化-tagEditor
            }
        });

        //字段别名
        $('#asName').textbox({
            editable: true,
            readonly: false,
            value: '{{.sdtBdiBusiFields.AsName}}'
        });
    }

    function initTagEditor(processValueArr, paramsValue) {
        var processValueArray = new Array();
        var index = 0;
        for (var i = 0; i < processValueArr.length; i++) {
            if (processValueArr[i] == "") {
                continue;
            }

            processValueArray[index++] = processValueArr[i];
        }

        var paramsArray = paramsValue.split("|");
        var data = $('#processTypeCombobox').combobox('getData');
        var text = '';
        for (var i = 0; i < processValueArray.length; i++) {
            if (processValueArray[i] == "") {
                continue;
            }

            for (var j = 0; j < data.length; j++) {
                if (data[j].id == processValueArray[i]) {
                    text = data[j].text;
                    break;
                }
            }

            var htmlModal = '<tr id="' + processValueArray[i] + '">' +
                    '<td style="width: 260px;text-align: right; padding: 5px 5px 5px 5px;">处理参数(' + text + ')：</td>' +
                    '<td style="width: 300px;"><input name="paramsTag_' + processValueArray[i] + '" id="paramsTag_' + processValueArray[i] + '"/></td>' +
                    '<td><a id="selectParamsButton_' + processValueArray[i] + '" href="#">选择参数</a></td>' +
                    '</tr>';
            var tr = $("#tb").append(htmlModal);

            var tagId = '#paramsTag_' + processValueArray[i];
            $(tagId).tagEditor({
                maxTags: 100,
                maxLength: 150,
                removeDuplicates: false,
                sortable: false,
                initialTags: [],
                forceLowercase: false,
                placeholder: '输入完请按Enter结束',
                onChange: function (field, editor, tags) {
                },
                beforeTagSave: function (field, editor, tags, tag, val) {
                },
                beforeTagDelete: function (field, editor, tags, val) {
                },
                onFocus: function () {
                }
            });

            $(tagId).tagEditor('addTag', paramsArray[i].replace("~", ""));

            $('#selectParamsButton_' + processValueArray[i]).linkbutton({
                iconCls: 'icon-search',
                onClick: function () {
                    $('<div></div>').dialog({
                        id: 'selectParamsDialog_' + processValueArray[i],
                        title: '选择表字段',
                        width: '500px',
                        height: '300px',
                        closed: false,
                        cache: false,
                        draggable: false,
                        resizable: false,
                        href: '/sdtBdiBusiFields/columnSelectTreePage',
                        modal: true,
                        onLoad: function () {
                        },
                        onClose: function () {
                            $(this).dialog('destroy');
                        },
                        buttons: [{
                            text: '保存',
                            iconCls: 'icon-ok',
                            handler: function () {
                                var selectNode = $('#columnSelectTree').tree('getChecked');
                                if (selectNode == undefined || selectNode == null || selectNode.length < 1) {
                                    $.messager.alert('提示信息', '请选择一个表字段!', 'info');
                                    return;
                                }

                                var tName = selectNode.length > 0 ? selectNode[0].attributes.tableName : null;
                                var resArray = tName.split("_");
                                var tableAliasTemp = '';
                                for (var j = 0; i < resArray.length; j++) {
                                    tableAliasTemp += resArray[j].substr(0, 1);
                                }

                                for (var j = 0; j < selectNode.length; j++) {
                                    $(tagId).tagEditor('addTag', tableAliasTemp + "." + selectNode[j].id);
                                }
                                $('#selectParamsDialog_' + processValueArray[i]).dialog('destroy');
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $('#selectParamsDialog_' + processValueArray[i]).dialog('destroy');
                            }
                        }]
                    });
                }
            });
        }
    }
</script>