<table id="sdtBdiBusiFieldsDataGrid"></table>

<script type="text/javascript">
    var checkedSdtBdiBusiIndex = undefined;
    var bdiId = '{{.bdiId}}';

    $(function () {
        $('#sdtBdiBusiFieldsDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 30,
            pageList: [30, 60, 90],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiBusiFields/all?bdiId=' + bdiId,
            height: '390px',
            toolbar: [{
                text: '新增字段',
                iconCls: 'icon-add',
                handler: function () {
                    bdiBusiFieldsAddDialog();
                }
            }/*, '-', {
             iconCls: 'icon-edit',
             text: '编辑',
             plain: 'true',
             onClick: function () {
             //                    updateSdtBdiBusiDialog();
             }
             }*/],
            columns: [[
//                {
//                    field: 'sdt_bdi_busi_oid',
//                    title: '选择',
//                    width: '50px',
//                    formatter: function (value, row, index) {
//                        return '<input type="radio" class="selectSdtBdiBusiRadioClass" name="selectSdtBdiBusiRadio" id="selectSdtBdiBusiRadio' + index + '" value="' + row.Id + '" />';
//                    }
//                },
                {
                    field: 'Id', title: 'Id', width: '50px', align: 'center', hidden: true
                },
                {
                    field: 'BusiId', title: 'BusiId', width: '50px', align: 'center', hidden: true
                },
                {
                    field: 'BusiName', title: '业务表名', width: '150px', align: 'left', hidden: false
                },
                {
                    field: 'BdiId', title: 'BdiId', width: '50px', align: 'center', hidden: true
                },
//                {
//                    field: 'BdiName', title: '指标名称', width: '120px', align: 'left'
//                },
                {
                    field: 'Name', title: '字段名称', width: '160px', align: 'left'
                },
                {
                    field: 'Sequence', title: '字段序号', width: '100px', align: 'center'
                },
//                {
//                    field: 'Comment', title: '字段注释', width: '130px', align: 'left'
//                },
//                {
//                    field: 'DataType', title: '字段类型', width: '130px', align: 'left'
//                },
//                {
//                    field: 'DataLength', title: '字段长度', width: '130px', align: 'left'
//                },
                {
                    field: 'sdt_bdi_busi_fields_opt1', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="sdtBdiBusiFieldsClass" onclick="processFieldsDialog(' + rowData.Id + ')">字段加工</a>';
                    }
                },
                {
                    field: 'busi_fields_ctr',
                    title: '操作',
                    width: '190px',
                    align: 'center',
                    formatter: function (value, row, index) {
//                        if (row.editing) {
//                            var s = '<button onclick="saveRow(this)">保存</button> ';
//                            var c = '<button onclick="cancelRow(this)">取消</button>';
//                            return s + c;
//                        } else {
                        var e = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, true)">上</button>';
                        var d = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, false)">下</button>';
                        return e + d;
//                        }
                    }
                },
                {
                    field: 'sdt_bdi_busi_fields_delete_opt', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="sdtBdiBusiFieldsDeleteClass" onclick="deleteSdtBdiBusiField(' + rowData.Id + ')">删除</a>';
                    }
                }
            ]],
            onLoadSuccess: function (data) {
                $('.sdtBdiBusiFieldsClass').linkbutton({plain: true, iconCls: 'icon-add'});
                $('.sdtBdiBusiFieldsDeleteClass').linkbutton({plain: true, iconCls: 'icon-remove'});
            },
            onClickRow: function (index, row) {
//                checkedSdtBdiBusiIndex = index;
//                //加载完毕后获取所有的checkbox遍历
//                var radio = $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].disabled;
//                //如果当前的单选框不可选，则不让其选中
//                if (radio != true) {
//                    //让点击的行单选按钮选中
//                    $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].checked = true;
//                }
//                else {
//                    $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].checked = false;
//                }
            },
            onDblClickRow: function (index, row) {
//                checkedSdtBdiBusiIndex = index;
//                //加载完毕后获取所有的checkbox遍历
//                var radio = $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].disabled;
//                //如果当前的单选框不可选，则不让其选中
//                if (radio != true) {
//                    //让点击的行单选按钮选中
//                    $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].checked = true;
//                }
//                else {
//                    $("input[type='radio'] .selectSdtBdiBusiRadioClass")[index].checked = false;
//                }
//
//                updateSdtBdiBusiDialog();
            }
        });
    });

    /**
     * 新增字段配置。
     */
    function bdiBusiFieldsAddDialog() {
        $('<div></div>').dialog({
            id: 'bdiBusiFieldsAddDialog',
            title: '新增字段',
            width: '500px',
            height: '300px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBusiFields/addFieldsPage?bdiId=' + bdiId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addSdtBdiBusiFieldsForm').form('submit', {
                        url: '/sdtBdiBusiFields/addConstFields/add',
                        onSubmit: function () {
                            return $("#addSdtBdiBusiFieldsForm").form("validate");
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#bdiBusiFieldsAddDialog").dialog('destroy');
                                $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#bdiBusiFieldsAddDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 字段加工。
     */
    function processFieldsDialog(busiFieldsId) {
        $('<div></div>').dialog({
            id: 'processFieldsDialog',
            title: '业务字段加工配置',
            width: '1000px',
            height: '500px',
            draggable: false,
            resizable: false,
            closed: false,
            cache: false,
            href: '/sdtBdiBusiFields/processFields?busiFieldsId=' + busiFieldsId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addBusiProcessFieldsForm').form('submit', {
                        url: '/sdtBdiBusiFields/processFields/add',
                        onSubmit: function () {
                            debugger;
                            if ($("#addBusiProcessFieldsForm").form("validate")) {
                                var processTypeArray = $('#processTypeCombobox').combobox('getValues');
                                var paramsValue = '';
                                for (var i = 0; i < processTypeArray.length; i++) {
                                    if (processTypeArray[i] == "") {
                                        continue;
                                    }
                                    paramsValue += $("#paramsTag_" + processTypeArray[i]).tagEditor('getTags')[0].tags;

                                    // 操作符 tagEditor
                                    var fieldOpTagValue = $('#fieldOpTag_' + processTypeArray[i]).tagEditor('getTags')[0].tags;
                                    //数值参数
                                    var fieldsParamsInputValue = $('#fieldsParamsInput_' + processTypeArray[i]).tagEditor('getTags')[0].tags;

                                    if (fieldOpTagValue != null && fieldOpTagValue != undefined && fieldOpTagValue != ''
                                            && fieldsParamsInputValue != null && fieldsParamsInputValue != undefined && fieldsParamsInputValue != '') {
                                        paramsValue = paramsValue + ",[" + fieldOpTagValue + "," + fieldsParamsInputValue + "]" + "|~,";
                                    }
                                }

                                debugger;
                                $("#params").val(paramsValue.substring(0, paramsValue.length - 3));

                                var processTypeValue = '';
                                for (var i = 0; i < processTypeArray.length; i++) {
                                    if (processTypeArray[i] == "") {
                                        continue;
                                    }
                                    processTypeValue += processTypeArray[i] + "|,";
                                }

                                $("#processType").val(processTypeValue.substring(0, processTypeValue.length - 2));

                                for (var i = 0; i < processTypeArray.length; i++) {
                                    if (processTypeArray[i] == "") {
                                        continue;
                                    }

                                    if (processTypeArray[i] == 'sum' || processTypeArray[i] == 'avg') {
                                        var valueArray = $("#paramsTag_" + processTypeArray[i]).tagEditor('getTags')[0].tags;
                                        var patten = /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/;
                                        var flag = false;
                                        for (var j = 0; j < valueArray.length; j++) {
                                            if (patten.test(valueArray[j])) {
                                                flag = true;
                                                $("#dataType").val('double');
                                                $("#dataLength").val('9,2');
                                            }
                                        }
                                    }
                                }

                                return true;


//                                if(processTypeValue == 'sum' || processTypeValue == 'avg' ) {
//                                    var valueArray = $('#params').tagEditor('getTags')[0].tags;
//                                    var patten = /^-?(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/;
//                                    var flag = false;
//                                    for(var i = 0; i < valueArray.length; i++) {
//                                        if(patten.test(valueArray[i])) {
//                                            flag = true;
//                                            $("#dataType").val('double');
//                                            $("#dataLength").val('9,2');
//                                        }
//                                    }
//
//                                    if(!flag) {
//                                        $("#dataType").val('int');
//                                        $("#dataLength").val('9,2');
//                                    }
//                                }else if (processTypeValue == 'max' || processTypeValue == 'min' || processTypeValue == 'count' ) {
//                                    $("#dataType").val('int');
//                                    $("#dataLength").val('0');
//                                }
                            } else {
                                return false;
                            }
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#processFieldsDialog").dialog('destroy');
                                $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#processFieldsDialog").dialog('destroy');
                }
            }]
        });
    }

    //上下行移动
    function move(e, target, isUp) {
        var rows = $('#sdtBdiBusiFieldsDataGrid').datagrid('getRows');

        //另一种方式取DataGrid索引
        var $view = $(target).closest('div.datagrid-view');
        var index = $(target).closest('tr.datagrid-row').attr('datagrid-row-index');
        var $row = $view.find('tr[datagrid-row-index=' + index + ']');

        if (isUp) {//上移
            if (index == 0) {//第一行不上移
//                $('#sdtBdiBusiFieldsDataGrid').datagrid('refreshRow', 0);
            } else {
                var effectRow = new Object();
                var obj = rows[index];
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiBusiFields/rowMoveUp',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
                            $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                    }
                });
            }
        } else {//下移
            if (index == (rows.length - 1)) {//最后一行不下移
//                $('#sdtBdiBusiFieldsDataGrid').datagrid('refreshRow', index);
//                editIndex = undefined;
            } else {
                var effectRow = new Object();
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiBusiFields/rowMoveDown',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
                            $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                    }
                });
            }
        }
    }

    /**
     * 删除 - SdtBdiBusiField。
     */
    function deleteSdtBdiBusiField(id) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/sdtBdiBusiFields/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {id: parseInt(id)},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#sdtBdiBusiFieldsDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>
