<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/demo.css">
</head>
<body>

<table id="sdtBdiBaseDataGrid"></table>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/easyui/utils/utils.js"></script>

<script type="text/javascript">
    var checkedIndex = undefined;
    $(function () {
        $('#sdtBdiBaseDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: false,
            checkOnSelect: false,
            singleSelect: true,
            autoRowHeight: false,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 30, 50],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiBase/all',
            height: '300px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addSdtBdiBaseDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiBaseDialog();
                }
            }],
            columns: [[
                {
                    field: 'sdt_bdi_base_oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" name="selectSdtBdiBaseRadio" id="selectSdtBdiBaseRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'Id', title: '指标库名称', width: '200px', align: 'center', hidden: true
                },
                {
                    field: 'BdiBaseName', title: '指标库名称', width: '200px', align: 'center'
                },
                {
                    field: 'BdiBaseYear', title: '统计年', width: '100px', align: 'center'
                },
                {
                    field: 'AdmCode', title: '统计行政区域代码', width: '200px', align: 'center'
                },
                {
                    field: 'AdtFlag',
                    title: '是否使用',
                    width: '70px',
                    align: 'right',
                    formatter: function (value, row, index) {
                        if (value == 0) {
                            return "启用";
                        } else {
                            return "停用";
                        }
                    }
                },
                {
                    field: 'Remarks', title: '指标库备注', width: '250px', align: 'center'
                },
                {
                    field: 'sdt_bdi_base_opt', title: '操作', width: '100px', align: 'center',
                    formatter: function (value, obj, index) {
                        return '<a href="#" class="easyui-linkbutton" onclick="deleteSdtBdiBase(\'' + obj.Id + '\')">删除</a> ';
                    }
                }
            ]],
            onLoadSuccess: function (data) {
                $('.easyui-linkbutton').linkbutton({plain: true, iconCls: 'icon-remove', height: '16px'});
            },
            onClickCell: function (index, field, value) {
            },
            onClickRow: function (index, row) {
                checkedIndex = index;

                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedIndex = index;

                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }

                updateSdtBdiBaseDialog();
            },
            onRefresh: function (pageNumber, pageSize) {
                if (sdtBdiDomainDataGridIndex != undefined) {
                    $("#sdtBdiDomainDataGrid").datagrid("unselectRow", checkedIndex);
                }
            }
        });
    });

    /**
     * 新增指标库-Dialog。
     */
    function addSdtBdiBaseDialog() {
        $('<div></div>').dialog({
            id: 'addSdtBdiBaseDialog',
            title: '新增指标库',
            width: '500px',
            height: '300px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBase/addPage',
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addSdtBdiBaseForm').form('submit', {
                        url: '/sdtBdiBase/add',
                        onSubmit: function () {
                            return $("#addSdtBdiBaseForm").form("validate");
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，success方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#addSdtBdiBaseDialog").dialog('destroy');
                                $('#sdtBdiBaseDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addSdtBdiBaseDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 更新指标库-Dialog。
     */
    function updateSdtBdiBaseDialog() {
        var row = $("#sdtBdiBaseDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateSdtBidBaseDialog',
                title: '修改指标域内容',
                width: '500px',
                height: '300px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiBase/updatePage?id=' + row.Id,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        debugger;
                        //提交表单
                        $('#updateSdtBdiBaseForm').form('submit', {
                            url: '/sdtBdiBase/update',
                            onSubmit: function () {
                                return $("#updateSdtBdiBaseForm").form("validate");
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                debugger;
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $("#updateSdtBidBaseDialog").dialog('destroy');
                                    $('#sdtBdiBaseDataGrid').datagrid('reload');
                                    $("#sdtBdiBaseDataGrid").datagrid("unselectRow", checkedIndex);
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateSdtBidBaseDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    /**
     * 删除-SdtBdiBase。
     */
    function deleteSdtBdiBase(id) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/sdtBdiBase/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#sdtBdiBaseDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>

</body>
</html>