<table id="sdtBdiRuleSetDataGrid"></table>

<script type="text/javascript">
    var editIndex = undefined;
    var sdtBdiId = "{{.sdtBdi.BdiId}}";
    var sdtBdiName = "{{.sdtBdi.BdiName}}";

    $(function () {

        $('#sdtBdiRuleSetDataGrid').datagrid({
            iconCls: 'icon-edit',
            singleSelect: true,
            method: 'get',
            url: '/sdtBdiRuleSet/all?bdiId=' + sdtBdiId,
            pageNumber: 1,
            pageSize: 100,
            onClickCell: onClickCell,
            onLoadSuccess: onLoadSuccess,
            onBeforeEdit: onBeforeEdit,
            onBeginEdit: onBeginEdit,
            onEndEdit: onEndEdit,
            onAfterEdit: onAfterEdit,
            onCancelEdit: onCancelEdit,
            onUnselect: onUnselect,
            onUncheck: onUncheck,
            height: $("#sdtBdiRuleSetDataGrid").parent().height(),
            toolbar: [{
                text: "添加",
                iconCls: "icon-add",
                handler: append
            }, {
                text: "删除",
                iconCls: "icon-remove",
                handler: remove
            }/*, {
             text: "结束编辑",
             iconCls: "icon-cancel",
             handler: endEdit
             }, {
             text: "保存",
             iconCls: "icon-save",
             handler: save
             }*/],
            columns: [[
                {
                    field: 'BdiRuleSetId', title: '规则集Id', width: '60px', align: 'center', hidden: true
                },
                {
                    field: 'BdiId', title: '指标Id', width: '60px', align: 'center'
                },
                {
                    field: 'BdiName', title: '指标名称', width: '200px', align: 'left'
                },
                {
                    field: 'RuleSetName', title: '规则集名称', width: '200px', align: 'left',
                    editor: {
                        type: 'textbox',
                        options: {
                            readonly: false,
                            iconAlign: 'left',
                            required: true
                        }
                    }
                },
                {
                    field: 'RuleSetLevel', title: '顺序编号', width: '100px', align: 'center'
                },
                {
                    field: 'Remarks', title: '备注', width: '200px', align: 'left',
                    editor: {
                        type: 'textbox',
                        options: {
                            readonly: false,
                            iconAlign: 'left',
                            required: true
                        }
                    }
                },
                {
                    field: 'ctr',
                    title: '操作',
                    width: '190px',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if (row.editing) {
                            var s = '<button onclick="saveRow(this)">保存</button> ';
                            var c = '<button onclick="cancelRow(this)">取消</button>';
//                            var s = '<a href="#" style="padding:0 5px 0 5px;" class="easyui-linkbutton" onclick="saveRow(this)" data-options="width:\'60px\'">保存</a>';
//                            var c = '<a href="#" style="padding:0 5px 0 5px;" class="easyui-linkbutton" onclick="cancelRow(this)" data-options="width:\'60px\'">取消</a>';
                            return s + c;
                        } else {
                            var e = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, true)">上</button>';
                            var d = '<button style="padding:0 5px 0 5px;" onclick="move(event, this, false)">下</button>';
                            var f = '<button style="padding:0 5px 0 5px;" onclick="addOrUpdateRuleDataGrid(event, this, true)">添加规则</button>';
//                            var e = '<a href="#" style="padding:0 5px 0 5px;" class="easyui-linkbutton" onclick="move(event, this, true)" data-options="width:\'60px\'">上</a>';
//                            var d = '<a href="#" style="padding:0 5px 0 5px;" class="easyui-linkbutton" onclick="move(event, this, false)" data-options="width:\'60px\'">下</a>';
//                            var f = '<a href="#" style="padding:0 5px 0 5px;" class="easyui-linkbutton" onclick="addOrUpdateRuleDataGrid(event, this, true)" data-options="width:\'60px\'">添加规则</a>';
                            return e + d + f;
                        }
                    }
                }
            ]]
        });
    });

    function getRowIndex(target) {
        var tr = $(target).closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    }

    function saveRow(target) {
        var index = getRowIndex(target);

        //如果校验未通过，返回编辑
        if (!$('#sdtBdiRuleSetDataGrid').datagrid('validateRow', index)) {
            return;
        }

        $('#sdtBdiRuleSetDataGrid').datagrid('endEdit', index);
        var row = $('#sdtBdiRuleSetDataGrid').datagrid('getData').rows[index];

        var effectRow = new Object();
        var url = "";
        var bdiRuleSetId = row.BdiRuleSetId;
        if (bdiRuleSetId == null || bdiRuleSetId == undefined || bdiRuleSetId < 1) {
            url = "/sdtBdiRuleSet/add";
            effectRow["inserted"] = JSON.stringify(row);
        } else {
            url = "/sdtBdiRuleSet/update";
            effectRow["updated"] = JSON.stringify(row);
        }

        $.post(
                url,
                effectRow,
                function (rsp) {
                    if (rsp.success) {
                        $.messager.alert("提示信息", rsp.message);
                        $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                        editIndex = undefined;
                    }
                },
                "JSON"
        ).error(function () {
            $.messager.alert("提示", "提交错误了！");
        });
    }
    function cancelRow(target) {
        var index = getRowIndex(target);
        var row = $('#sdtBdiRuleSetDataGrid').datagrid('getData').rows[index];
        var bdiRuleSetId = row.BdiRuleSetId;
        if (bdiRuleSetId == null || bdiRuleSetId == undefined || bdiRuleSetId < 1) {
            $('#sdtBdiRuleSetDataGrid').datagrid('cancelEdit', editIndex).datagrid('deleteRow', editIndex);
        } else {
            $('#sdtBdiRuleSetDataGrid').datagrid('cancelEdit', editIndex);
        }

        $('#sdtBdiRuleSetDataGrid').datagrid('reload');
        editIndex = undefined;
    }

    //上下行移动
    function move(e, target, isUp) {
        var rows = $('#sdtBdiRuleSetDataGrid').datagrid('getRows');

        //另一种方式取DataGrid索引
        var $view = $(target).closest('div.datagrid-view');
        var index = $(target).closest('tr.datagrid-row').attr('datagrid-row-index');
        var $row = $view.find('tr[datagrid-row-index=' + index + ']');

        if (isUp) {//上移
            if (index == 0) {//第一行不上移
                $('#sdtBdiRuleSetDataGrid').datagrid('refreshRow', 0);
                editIndex = undefined;
            } else {
                var effectRow = new Object();
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiRuleSet/rowMoveUp',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
//                            $.messager.alert("提示信息", rsp.message);
                            $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                            editIndex = undefined;
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                        editIndex = undefined;
                    }
                });
            }
        } else {//下移
            if (index == (rows.length - 1)) {//最后一行不下移
                $('#sdtBdiRuleSetDataGrid').datagrid('refreshRow', index);
                editIndex = undefined;
            } else {
                var effectRow = new Object();
                effectRow["updated"] = JSON.stringify(rows[index]);

                $.ajax({
                    type: 'POST',
                    async: false,
                    cache: false,
                    url: '/sdtBdiRuleSet/rowMoveDown',
                    data: effectRow,
                    dataType: 'JSON',
                    success: function (rsp) {
                        if (rsp.success) {
//                            $.messager.alert("提示信息", rsp.message);
                            $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                            editIndex = undefined;
                        }
                    },
                    error: function () {
                        $.messager.alert("提示", "提交错误了！");
                        $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                        editIndex = undefined;
                    }
                });
            }
        }

        endEdit();
    }

    //规则集添加规则
    function addOrUpdateRuleDataGrid(e, target) {
        var rows = $('#sdtBdiRuleSetDataGrid').datagrid('getRows');
        var index = $(target).closest('tr.datagrid-row').attr('datagrid-row-index');
        $('#sdtBdiRuleSetDataGrid').datagrid('cancelEdit', editIndex);
        $('#sdtBdiRuleSetDataGrid').datagrid('refreshRow', index);
        editIndex = undefined;

        $('<div></div>').dialog({
            id: 'addOrUpdateRuleDataGrid',
            title: '新增（修改）规则',
            width: '900px',
            height: '450px',
            closed: false,
            cache: false,
            collapsible: false,
            minimizable: false,
            maximizable: false,
            closable: true,
            draggable: false,
            resizable: false,
            modal: true,
            href: '/sdtBdiRule/index?bdiRuleSetId=' + rows[index].BdiRuleSetId,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            }
        });
    }

    function endEditing() {
        if (editIndex == undefined) {
            return true
        }

        //校验通过
        if ($('#sdtBdiRuleSetDataGrid').datagrid('validateRow', editIndex)) {
            $('#sdtBdiRuleSetDataGrid').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {//校验未通过
            return false;
        }
    }

    function onClickCell(index, field) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#sdtBdiRuleSetDataGrid').datagrid('selectRow', index).datagrid('beginEdit', index);
                var ed = $('#sdtBdiRuleSetDataGrid').datagrid('getEditor', {index: index, field: field});
                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
                editIndex = index;
            } else {//校验未通过，定位到要填写的行。
                setTimeout(function () {
                    $('#sdtBdiRuleSetDataGrid').datagrid('selectRow', editIndex);
                }, 0);
            }
        } else {
            $('#sdtBdiRuleSetDataGrid').datagrid('selectRow', index).datagrid('beginEdit', index);
            var ed = $('#sdtBdiRuleSetDataGrid').datagrid('getEditor', {index: index, field: field});
            if (ed) {
                ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
            }
        }
    }

    function onBeforeEdit(index, row) {
        row.editing = true;
        $(this).datagrid('refreshRow', index);
    }

    function onBeginEdit(index, row) {
    }

    function onEndEdit(ndex, row, changes) {
    }

    function onAfterEdit(index, row, changes) {
        row.editing = false;
        $(this).datagrid('refreshRow', index);
    }

    function onCancelEdit(index, row) {
        row.editing = false;
        $(this).datagrid('refreshRow', index);
    }

    function onUnselect(index, row) {
    }

    function onUncheck(index, row) {
    }

    function onLoadSuccess(data) {
        if (!data.rows) {
            var body = $(this).data().datagrid.dc.body2;
            body.find('table tbody').append('<tr><td width="' + body.width() + '" style="height: 25px; text-align: center;">没有数据</td></tr>');
        }
    }

    //新增
    function append() {
        if (endEditing()) {
            var rows = $('#sdtBdiRuleSetDataGrid').datagrid('getRows');
            $('#sdtBdiRuleSetDataGrid').datagrid('appendRow', {BdiId: parseInt(sdtBdiId), BdiName: sdtBdiName, RuleSetLevel: rows.length + 1});
            editIndex = $('#sdtBdiRuleSetDataGrid').datagrid('getRows').length - 1;
            $('#sdtBdiRuleSetDataGrid').datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
        }
    }

    //删除
    function remove() {
        if (editIndex == undefined) {
            return
        }

        var rows = $('#sdtBdiRuleSetDataGrid').datagrid('getRows');
        $.ajax({
            type: 'POST',
            async: false,
            cache: false,
            url: '/sdtBdiRuleSet/delete',
            data: rows[editIndex],
            dataType: 'JSON',
            success: function (rsp) {
                if (rsp.success) {
                    $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                    editIndex = undefined;
                }
            },
            error: function () {
                $.messager.alert("提示", "删除出错！");
                $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                editIndex = undefined;
            }
        });
        editIndex = undefined;
    }

    //结束编辑
    function endEdit() {
        var rows = $('#sdtBdiRuleSetDataGrid').datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            $('#sdtBdiRuleSetDataGrid').datagrid('endEdit', i);
        }
        editIndex = undefined;
    }

    //保存
    function save() {
        editIndex = undefined;
        endEdit();

        if ($('#sdtBdiRuleSetDataGrid').datagrid('getChanges').length) {
            var inserted = $('#sdtBdiRuleSetDataGrid').datagrid('getChanges', "inserted");
            var deleted = $('#sdtBdiRuleSetDataGrid').datagrid('getChanges', "deleted");
            var updated = $('#sdtBdiRuleSetDataGrid').datagrid('getChanges', "updated");

            var effectRow = new Object();
            if (inserted.length) {
                effectRow["inserted"] = JSON.stringify(inserted);
            }
            if (deleted.length) {
                effectRow["deleted"] = JSON.stringify(deleted);
            }
            if (updated.length) {
                effectRow["updated"] = JSON.stringify(updated);
            }

            $.post(
                    "/sdtBdiRuleSet/add",
                    effectRow,
                    function (rsp) {
                        if (rsp.success) {
                            $.messager.alert("提示", "提交成功！");
                            $('#sdtBdiRuleSetDataGrid').datagrid('reload');
                        }
                    },
                    "JSON"
            ).error(function () {
                $.messager.alert("提示", "提交错误了！");
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '数据无更新！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }
</script>