<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/demo.css">

    <link rel="stylesheet" type="text/css" href="/static/css/tagEditor/jquery.tag-editor.css">
</head>
<body>

<table id="sdtBdiDataGrid"></table>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/easyui/utils/utils.js"></script>

<script type="text/javascript" src="/static/js/caret/jquery.caret.min.js"></script>
<script type="text/javascript" src="/static/js/tagEditor/jquery.tag-editor.js"></script>

<table id="sdtBdiResultDataGrid"></table>

<script type="text/javascript">
    var checkedSdtBdiResultIndex = undefined;
    var bdiId = '{{.bdiId}}';
    var bdiTypeId = '{{.bdiTypeId}}';

    $(function () {
        $('#sdtBdiResultDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 30, 50],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiResult/all?bdiId=' + bdiId,
            height: '390px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addSdtBdiResultDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiResultDialog();
                }
            }],
            columns: [[
                {
                    field: 'sdt_bdi_result_oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" class="selectSdtBdiResultRadioClass" name="selectSdtBdiResultRadio" id="selectSdtBdiResultRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'Id', title: 'Id', width: '50px', align: 'center', hidden: true
                },
                {
                    field: 'BdiId', title: '指标Id', width: '80px', align: 'center', hidden: true
                },
                {
                    field: 'BdiTypeId', title: '指标类型Id', width: '80px', align: 'center', hidden: true
                },
                {
                    field: 'BdiTypeName', title: '指标类型名称', width: '130px', align: 'center'
                },
                {
                    field: 'BdiName', title: '指标名称', width: '130px', align: 'center'
                },
                {
                    field: 'TableName', title: '表名', width: '220px', align: 'center'
                },
                {
                    field: 'TableLabel', title: '中文表名', width: '150px', align: 'center'
                },
                {
                    field: 'sdt_bdi_result_opt1', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="easyui-linkbutton" onclick="addBdiBusiCfgDialog(' + rowData.Id + ')">指标业务表配置</a>';
                    }
                },
                {
                    field: 'sdt_bdi_result_opt2', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="easyui-linkbutton" onclick="columnSelectDialog(' + rowData.Id + ')">指标业务表字段配置</a>';
                    }
                }
            ]],
            onLoadSuccess: function (data) {
                $('.easyui-linkbutton').linkbutton({plain: true, iconCls: 'icon-add'});
            },
            onClickRow: function (index, row) {
                checkedSdtBdiResultIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiResultRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiResultRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiResultRadioClass")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedSdtBdiResultIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiResultRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiResultRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiResultRadioClass")[index].checked = false;
                }

                updateSdtBdiResultDialog();
            }
        });
    });

    /**
     * 新增结果表配置-Dialog。
     */
    function addSdtBdiResultDialog() {
        $('<div></div>').dialog({
            id: 'addSdtBdiResultDialog',
            title: '新增指标结果表配置',
            width: '380px',
            height: '280px',
            closed: false,
            cache: false,
            href: '/sdtBdiResult/addPage?bdiId=' + bdiId + "&bdiTypeId=" + bdiTypeId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addBdiBusiTableCfgForm').form('submit', {
                        url: '/sdtBdiResult/add',
                        onSubmit: function () {
                            return $("#addBdiBusiTableCfgForm").form("validate");
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#addSdtBdiResultDialog").dialog('destroy');
                                $('#sdtBdiResultDataGrid').datagrid('reload');
                                $("#sdtBdiResultDataGrid").datagrid("unselectRow", checkedSdtBdiResultIndex);
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addSdtBdiResultDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 更新结果表配置-Dialog。
     */
    function updateSdtBdiResultDialog() {
        var row = $("#sdtBdiResultDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateSdtBidResultDialog',
                title: '修改指标结果表配置',
                width: '380px',
                height: '280px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiResult/updatePage?id=' + row.Id,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //提交表单
                        $('#updateSdtBdiResultForm').form('submit', {
                            url: '/sdtBdiResult/update',
                            onSubmit: function () {
                                return $("#updateSdtBdiResultForm").form("validate");
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $('#sdtBdiResultDataGrid').datagrid('reload');
                                    $("#updateSdtBidResultDialog").dialog('destroy');
                                    $("#sdtBdiResultDataGrid").datagrid("unselectRow", checkedSdtBdiResultIndex);
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateSdtBidResultDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    /**
     * 指标值配置-Dialog
     */
    function addBdiBusiCfgDialog() {
        $('<div></div>').dialog({
            id: 'addBdiBusiCfgDialog',
            title: '选择指标计算业务表',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiResult/datasourceTree?bdiId=' + bdiId + "&bdiTypeId=" + bdiTypeId + "&showLeafLevel=3",
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '下一步',
                iconCls: 'icon-ok',
                handler: function () {
                    var resultArray = new Array();
                    var treeObj = $('#columnsTree');
                    var nodes = treeObj.tree('getChecked');
                    for (var i = 0; i < nodes.length; i++) {
                        var obj = {
                            name: nodes[i].id,
                            cnName: nodes[i].attributes.comment,
                            bdiId: parseInt(bdiId),
                            datasourceId: parseInt(treeObj.tree('getRoot').id),
                            childColumns: new Array()
                        };
                        resultArray.push(obj);
                    }

                    $.ajax({
                        url: "/sdtBdiBusi/add",
                        async: false,
                        cache: false,
                        type: 'POST',
                        data: JSON.stringify(resultArray),
                        dataType: 'json',
                        error: function (data) {
                            $.messager.alert('提示消息', data.message);
                        },
                        success: function (data) {
                            if (data.success) {
                                //成功选择后，进行业务表和业务表配置
                                $("#addBdiBusiCfgDialog").dialog('destroy');

                                //成功选择后，进行业务表详细配置
                                addBdiBusiDetailDialog();
                            }
                        }
                    });

//                    var resultArray = new Array();
//                    var treeObj = $('#columnsTree');
//                    var nodes = treeObj.tree('getChecked');
//                    for (var i = 0; i < nodes.length; i++) {
//                        if (nodes[i].attributes.isTable) {//table-节点
//                            var obj = {
//                                name: nodes[i].id,
//                                cnName: nodes[i].attributes.comment,
//                                bdiId: parseInt(bdiId),
//                                datasourceId: parseInt(treeObj.tree('getRoot').id),
//                                childColumns: new Array()
//                            };
//                            resultArray.push(obj);
//                        } else {//columns-节点
//                            //寻找父节点
//                            var found = false;
//                            var foundIndex = 0;
//
//                            var parentNode = treeObj.tree('getParent', nodes[i].target);
//                            if (parentNode != null) {
//                                for (var j = 0; j < resultArray.length; j++) {
//                                    if (parentNode.id == resultArray[j].name) {
//                                        found = true;
//                                        foundIndex = j;
//                                        break;
//                                    }
//                                }
//                            }
//
//                            if (!found) {
//                                var tableObj = {
//                                    name: parentNode.id,
//                                    cnName: parentNode.attributes.comment,
//                                    bdiId: parseInt(bdiId),
//                                    datasourceId: parseInt(treeObj.tree('getRoot').id),
//                                    childColumns: new Array()
//                                };
//
//                                var columnObj = {
//                                    name: nodes[i].id,
//                                    cnName: nodes[i].attributes.comment,
//                                    sequence: nodes[i].attributes.sequence,
//                                    comment: nodes[i].attributes.comment,
//                                    dataType: nodes[i].attributes.dataType,
//                                    dataLength: nodes[i].attributes.dataLength
//                                };
//
//                                tableObj.childColumns.push(columnObj);
//                                resultArray.push(tableObj);
//                            } else {
//                                var columnObj = {
//                                    name: nodes[i].id,
//                                    cnName: nodes[i].attributes.comment,
//                                    sequence: nodes[i].attributes.sequence,
//                                    comment: nodes[i].attributes.comment,
//                                    dataType: nodes[i].attributes.dataType,
//                                    dataLength: nodes[i].attributes.dataLength
//                                };
//
//                                resultArray[foundIndex].childColumns.push(columnObj);
//                            }
//                        }
//                    }
//
//                    $.ajax({
//                        url: "/sdtBdiBusi/add",
//                        async: false,
//                        cache: false,
//                        type: 'POST',
//                        data: JSON.stringify(resultArray),
//                        dataType: 'json',
//                        error: function (data) {
//                            $.messager.alert('提示消息', data.message);
//                        },
//                        success: function (data) {
//                            if (data.success) {
//                                //成功选择后，进行业务表和业务表配置
//                                addBdiBusiDetailDialog(bdiId);
//                            }
//                        }
//                    });

                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addBdiBusiCfgDialog").dialog('destroy');
                }
            }]
        });
    }

    var found = undefined;
    //字段选择Dialog
    function columnSelectDialog() {
        $('<div></div>').dialog({
            id: 'columnSelectDialog',
            title: '选择指标业务表字段',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBusiFields/columnSelectTreePage?bdiId=' + bdiId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '下一步',
                iconCls: 'icon-ok',
                handler: function () {
                    /*
                    if (found == undefined) {
                        //判断sdt_bdi_busi_fields表中是否有配置过数据，如果没有要选择表字段。
                        $.ajax({
                            url: "/sdtBdiBusiFields/checkData?bdiId=" + bdiId,
                            async: true,
                            cache: false,
                            type: 'GET',
                            dataType: 'json',
                            error: function (data) {
                                $.messager.alert('提示消息', data.message);
                            },
                            success: function (data) {
                                if (!data.success || data.count < 1) {
                                    $.messager.alert('提示信息', '未选择过表字段，请选择一个表字段!', 'info');
                                    found = data.success;
                                }
                            }
                        });
                    }

                    if (found) {
                        var selectNode = $('#columnSelectTree').tree('getSelected');
                        if (selectNode == undefined || selectNode == null) {
                            $.messager.alert('提示信息', '请选择一个表字段!', 'info');
                            return;
                        }

                        if ((selectNode.attributes.isTable == false && selectNode.attributes.tableName == '') || selectNode.attributes.isTable) {
                            $.messager.alert('提示信息', '只能选择表字段!', 'info');
                            return;
                        }

                        //往 sdt_bdi_busi_fields 表插入数据。
                        $.ajax({
                            url: "/sdtBdiBusiFields/addFields/add?bdiId=" + bdiId + "&name=" + selectNode.id,
                            async: true,
                            cache: false,
                            data: {
                                bdiId: bdiId,
                                name: selectNode.id,
                                dataType: selectNode.attributes.dataType,
                                dataLength: selectNode.attributes.dataLength
                            },
                            type: 'POST',
                            dataType: 'json',
                            error: function (data) {
                            },
                            success: function (data) {
                            }
                        });

                        found = undefined;
                        $("#columnSelectDialog").dialog('destroy');
                        addSdtBdiFieldsCfgDialog();
                    }
                    */

                    debugger;
                    var nodes = $('#columnSelectTree').tree('getChecked');
                    if(nodes != null) {
                        var resultArray = new Array();
                        for (var i = 0; i < nodes.length; i++) {
                            var obj = {
                                bdiId: parseInt(bdiId),
                                name: nodes[i].id.toString(),
                                dataType: nodes[i].attributes.dataType.toString(),
                                dataLength: nodes[i].attributes.dataLength.toString()
                            };
                            resultArray.push(obj);
                        }
                        //往 sdt_bdi_busi_fields 表插入数据。
                        $.ajax({
                            url: "/sdtBdiBusiFields/addFields/add",
                            async: true,
                            cache: false,
                            data: JSON.stringify(resultArray),
                            type: 'POST',
                            dataType: 'json',
                            error: function (data) {
                            },
                            success: function (data) {
                            }
                        });
                    }

                    $("#columnSelectDialog").dialog('destroy');
                    addSdtBdiFieldsCfgDialog();
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#columnSelectDialog").dialog('destroy');
                }
            }]
        });
    }

    //指标结果表字段配置Dialog
    function addSdtBdiFieldsCfgDialog() {
        //表字段配置
        $('<div></div>').dialog({
            id: 'addSdtBdiFieldsCfgDialog',
            title: '指标结果表字段配置',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBusiFields/index?bdiId=' + bdiId,
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '配置完成',
                iconCls: 'icon-close',
                handler: function () {
                    $("#addSdtBdiFieldsCfgDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 业务表: sdt_bdi_busi-详细配置Dialog
     */
    function addBdiBusiDetailDialog() {
        $('<div></div>').dialog({
            id: 'addBdiBusiDetailDialog',
            title: '指标业务表详细配置',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
//            href: '/sdtBdiBusi/detailConfigPage?bdiId=' + bdiId + "&bdiTypeId=" + bdiTypeId,
            href: '/sdtBdiBusi/index?bdiId=' + bdiId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [/*{
                text: '下一步',
                iconCls: 'icon-ok',
                handler: function () {
                    //业务表字段详细配置
                    $.ajax({
                        url: "/sdtBdiBusi/detailConfig/update",
                        async: false,
                        cache: false,
                        type: 'POST',
                        data: {
                            id: 1,
                            isProcess: $("#isProcess").val(),
                            processType: $("#processType").combobox('getValue'),
                            params: $("#params").val()
                        },
                        dataType: 'json',
                        error: function (data) {
                            $.messager.alert('提示消息', data.message);
                        },
                        success: function (data) {
                            if (data.success) {
                                $("#addBdiBusiDetailDialog").dialog('destroy');
                                //sdt_bdi_busi_config-详细配置Dialog
                                addBdiBusiConfigDetailDialog();
                            }
                        }
                    });
                }
            }, */{
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addBdiBusiDetailDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 业务表: sdt_bdi_busi_config-详细配置Dialog
     */
    function addBdiBusiConfigDetailDialog() {
        $('<div></div>').dialog({
            id: 'addBdiBusiConfigDetailDialog',
            title: '业务配置表详细配置',
            width: '1000px',
            height: '500px',
            closed: false,
            closable: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBusiConfig/index?bdiId=' + bdiId + "&bdiTypeId=" + bdiTypeId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '配置完成',
                iconCls: 'icon-ok',
                handler: function () {
                    //同步sdt_bdi_busi_config表中的内容到sdt_bdi_busi_fields
                    $.ajax({
                        url: "/sdtBdiBusiConfig/content/synchronize?bdiId=" + bdiId,
                        async: false,
                        cache: false,
                        type: 'POST',
                        data: {
                            bdiId: bdiId
                        },
                        dataType: 'json',
                        error: function (data) {
                            $.messager.alert('提示消息', data.message);
                        },
                        success: function (data) {
                            if (data.success) {
                                $.messager.alert('提示消息', '配置完成');
                                $("#addBdiBusiConfigDetailDialog").dialog('destroy');
                            }
                        }
                    });
                }
            }]
        });
    }
</script>

</body>
</html>
