<div id="loading" style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="addSdtBdiForm" method="post">
    <input type="hidden" id="bdiSetIds" name="bdiSetIds"/>
    <table>
        <tr>
            <td style="width: 200px;text-align: right; padding: 5px 5px 5px 5px;">指标类型：</td>
            <td>
                <input name="bdiTypeId" id="bdiTypeId"/>
            </td>
        </tr>
        <tr>
            <td style="width: 200px;text-align: right; padding: 5px 5px 5px 5px;">指标名称：</td>
            <td>
                <input name="bdiName" id="bdiName"/>
            </td>
        </tr>
        <tr>
            <td style="width: 200px;text-align: right; padding: 5px 5px 5px 5px;">指标备注：</td>
            <td>
                <input name="remarks" id="remarks">
            </td>
        </tr>
        <tr>
            <td style="width: 200px;text-align: right; padding: 5px 5px 5px 5px;">所属指标集：</td>
            <td>
                <input name="bdiSetIdsCombobox" id="bdiSetIdsCombobox"/>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    };

    $(function () {
        initAddSdtBdiDialog();
    });

    /**
     * 初始化新增窗口。
     */
    function initAddSdtBdiDialog() {
        //指标集名称
        $('#bdiName').textbox({
            editable: true,
            readonly: false,
            required: true,
            value: ''
        });

        //指标类型
        $('#bdiTypeId').combobox({
            url: '/sdt/sdtTypeSetForList',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            panelMaxHeight: '200px',
            editable: false,
            readonly: false,
            required: true,
            value: ''
        });

        //指标集
        $('#bdiSetIdsCombobox').combobox({
            url: '/sdt/sdtBdiSetForList',
            editable: false,
            required: true,
            method: 'get',
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            multiple: true,
            formatter: function (row) {
                var opts = $(this).combobox('options');
                return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]
            },

            onShowPanel: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onLoadSuccess: function () {
                var opts = $(this).combobox('options');
                var target = this;
                var values = $(target).combobox('getValues');
                $.map(values, function (value) {
                    var el = opts.finder.getEl(target, value);
                    el.find('input.combobox-checkbox')._propAttr('checked', true);
                })
            },
            onSelect: function (row) {
                //console.log(row);
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', true);
            },
            onUnselect: function (row) {
                var opts = $(this).combobox('options');
                var el = opts.finder.getEl(this, row[opts.valueField]);
                el.find('input.combobox-checkbox')._propAttr('checked', false);
            }
        });

        //指标库备注
        $('#remarks').textbox({
            editable: true,
            required: true,
            readonly: false,
            value: ''
        });
    }
</script>