<div id="loading" style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #DDDDDB; text-align: center; padding-top: 20%;"></div>

<form id="addBdiRuleForm" method="post">
    <table style="margin-top: 15px;">
        <tr>
            <th style="width:150px;text-align: right;">数据源：</th>
            <td style="width: 300px;padding:10px 10px 10px 10px;">
                <input name="datasourceTree1" id="datasourceTree1"/>
            </td>

            <th style="width:150px;text-align: right;">自定义规则语言：</th>
            <td>
                <input name="datasourceTree2" id="datasourceTree2"/>
                <a id="btn" href="#" class="easyui-linkbutton conditionExpress" data-options="iconCls:'icon-add'">添加</a>
            </td>
        </tr>
        <tr rowspan="2">
            <th style="width:150px;text-align: right;">条件表达式：</th>
            <td colspan="3" style="padding:10px 10px 10px 10px;">
                <div><input name="demo1" id="demo1" style="height: 100px;"/></div>
            </td>
        </tr>
        <tr rowspan="2">
            <th style="width:150px;text-align: right;">操作表达式：</th>
            <td colspan="3" style="padding:10px 10px 10px 10px;">
                <div><input name="demo2" id="demo2" style="height: 100px;"/></div>
            </td>
        </tr>
        <tr>
            <th style="width:150px;text-align: right;">操作符：</th>
            <td style="width: 300px;padding:10px 10px 10px 10px;">
            </td>

            <th style="width:150px;text-align: right;">自定义函数：</th>
            <td>
            </td>
        </tr>
        <tr>
            <th style="width:100px;text-align: right;"></th>
            <td style="padding:10px 10px 10px 10px;">
                <a id="btn01" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">+</a>
                <a id="btn02" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">-</a>
                <a id="btn03" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">*</a>
                <a id="btn04" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">/</a>
                <a id="btn05" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">></a>
                <a id="btn06" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'"><</a>
                <a id="btn07" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">=</a>
                <a id="btn08" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">>=</a>
                <a id="btn09" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'"><=</a>
                <a id="btn10" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">and</a>
                <a id="btn11" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">or</a>
                <a id="btn12" href="#" style="padding:5px 0 5px 0;" class="easyui-linkbutton conditionExpress" data-options="width:'60px'">!</a>
            </td>
            <th style="width:100px;text-align: right;"></th>
            <td style="padding:10px 10px 10px 10px;">
                <a id="btn_1" href="#" class="easyui-linkbutton operationExpress" data-options="width:'80px'">sum</a>
                <a id="btn_2" href="#" class="easyui-linkbutton operationExpress" data-options="width:'80px'">count</a>
                <a id="btn_3" href="#" class="easyui-linkbutton operationExpress" data-options="width:'80px'">group by</a>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    //0 - 件表达式， 1 - 操作表达式
    var editingType = undefined;

    function show() {
        $("#loading").fadeOut("normal", function () {
            $(this).remove();
        });
    }
    var delayTime;
    $.parser.onComplete = function () {
        if (delayTime) {
            clearTimeout(delayTime);
        }

        delayTime = setTimeout(show, 100);
    };

    $(function () {
        $('#datasourceTree1').combotree({
            //获取数据URL
            url: '/datasource/datasourceNode',
            width: '300px',
            panelHeight: '360px',
            panelMaxHeight: '450px',
            //选择树节点触发事件
            onSelect: function (node) {
                var tree = $(this).tree;//返回树对象
                var isLeaf = tree('isLeaf', node.target);//选中的节点是否为叶子节点,如果不是叶子节点,清除选中
                if (!isLeaf) {
                    $('#datasourceTree1').combotree('clear');//清除选中
                } else {
                    addTag(editingType, node.id);
                }
            },
            onBeforeExpand: function (node) {
                $('#datasourceTree1').combotree("tree").tree("options").url = node.attributes.url + "?param=" + node.text;
            }
        });

        $('#datasourceTree2').combotree({
            //获取数据URL
            url: '/datasource/datasourceNode',
            width: '220px',
            panelHeight: '360px',
            panelMaxHeight: '450px',
            //选择树节点触发事件
            onSelect: function (node) {
                var tree = $(this).tree;//返回树对象
                var isLeaf = tree('isLeaf', node.target);//选中的节点是否为叶子节点,如果不是叶子节点,清除选中
                if (!isLeaf) {
                    $('#datasourceTree2').combotree('clear');//清除选中
                } else {
                    addTag(editingType, node.id);
                }
            },
            onBeforeExpand: function (node) {
                $('#datasourceTree2').combotree("tree").tree("options").url = node.attributes.url + "?param=" + node.text;
            }
        });

        $('#demo1').tagEditor({
            maxTags: 100,
            maxLength: 50,
            removeDuplicates: false,
            sortable: false,
            initialTags: [],
            placeholder: '请输入条件表达式',
            onChange: function (field, editor, tags) {
            },
            beforeTagSave: function (field, editor, tags, tag, val) {
            },
            beforeTagDelete: function (field, editor, tags, val) {
            },
            onFocus: function () {
                editingType = 0;//0 - 件表达式
            }
        });

        $('#demo2').tagEditor({
            maxTags: 100,
            maxLength: 50,
            removeDuplicates: false,
            sortable: false,
            initialTags: [],
            placeholder: '请输入操作表达式',
            onChange: function (field, editor, tags) {
            },
            beforeTagSave: function (field, editor, tags, tag, val) {
            },
            beforeTagDelete: function (field, editor, tags, val) {
            },
            onFocus: function () {
                editingType = 1;//1 - 操作表达式
            }
        });

        $(".conditionExpress").click(function () {
            addTag(editingType, $(this).text());
        });

        $(".operationExpress").click(function () {
            addTag(editingType, $(this).text());
        });
    });

    function addTag(type, text) {
        if (type == 0) { // 条件表达式
            $('#demo1').tagEditor('addTag', text);
        } else if (type == 1) { // 操作表达式
            $('#demo2').tagEditor('addTag', text);
        }
    }
</script>