<table id="sdtBdiRuleDataGrid"></table>

<script type="text/javascript">
    var editIndex = undefined;
    var bdiRuleSetId = "{{.bdiRuleSetId}}";

    $(function () {
        $('#sdtBdiRuleDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: false,
            pageNumber: 1,
            pageSize: 100,
            idField: 'BdiRuleId',
            pagination: true,
            url: '/sdtBdiRule/all?bdiRuleSetId' + bdiRuleSetId,
            height: '390px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addSdtBdiRuleDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiRuleDialog();
                }
            }],
            columns: [[
                {
                    field: 'oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" name="selectRadio" id="selectRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'BdiRuleId', title: '规则Id', width: '10px', align: 'center', hidden: true
                },
                {
                    field: 'BdiRuleSetId', title: '规则集Id', width: '100px', align: 'center'
                },
                {
                    field: 'Condition', title: '条件', width: '150px', align: 'center'
                },
                {
                    field: 'ConditionExpression', title: '条件表达式', width: '150px', align: 'left'
                },
                {
                    field: 'Operation', title: '操作', width: '150px', align: 'left'
                },
                {
                    field: 'OperationExpression', title: '操作表达式', width: '150px', align: 'left'
                },
                {
                    field: 'Remarks', title: '备注', width: '250px', align: 'center'
                }
            ]],
            onClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }else {
                    $("input[type='radio']")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }

                updateSdtBdiRuleDialog();
            }
        });

    })

    function addSdtBdiRuleDialog() {
        $('<div></div>').dialog({
            id: 'addBidSetDialog',
            title: '新增规则',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: true,
            resizable: false,
            href: '/sdtBdiRule/addPage',
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addBdiSetForm').form('submit', {
                        url: '/sdtBdiSet/add',
                        onSubmit: function () {
                            if ($("#addBdiSetForm").form("validate")) {
                                var res = $("#bdiSetIdsCombobox").combobox('getValues');
                                $("#bdiDomainIds").val(res.toString());
                                return true;
                            } else {
                                return false;
                            }
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $('#sdtBdiRuleDataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                            $("#addBidSetDialog").dialog('destroy');
                            $('#sdtBdiRuleDataGrid').datagrid('reload');
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addBidSetDialog").dialog('destroy');
                }
            }]
        });
    }

    function updateSdtBdiRuleDialog() {
        var row = $("#sdtBdiRuleDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateBidSetDialog',
                title: '修改指标集内容',
                width: '500px',
                height: '300px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiSet/updatePage?bdiSetId=' + row.BdiRuleId,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        debugger;
                        //提交表单
                        $('#updateBdiSetForm').form('submit', {
                            url: '/sdtBdiSet/update',
                            onSubmit: function () {
                                debugger;
                                if ($("#updateBdiSetForm").form("validate")) {
                                    var res = $("#bdiDomainIdsCombobox").combobox('getValues');
                                    $("#bdiDomainIds").val(res.toString());
                                    return true;
                                } else {
                                    return false;
                                }
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                debugger;
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $('#sdtBdiRuleDataGrid').datagrid('reload');
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }

                                $("#updateBidSetDialog").dialog('destroy');
                                $('#sdtBdiRuleDataGrid').datagrid('reload');
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateBidSetDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    /**
     * 删除BdiSet。
     */
    function deleteBdiSet(bdiSetId) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/sdtBdiSet/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {bdiSetId: bdiSetId},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#sdtBdiRuleDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>