<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/easyui/demo.css">
</head>
<body>

<table id="sdtBdiSetDataGrid"></table>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/static/js/easyui/utils/utils.js"></script>

<script type="text/javascript">
    var checkedIndex = undefined;

    $(function () {
        $('#sdtBdiSetDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: false,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 30, 50],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiSet/all',
            height: '390px',
            toolbar: [{
                text: '新增',
                iconCls: 'icon-add',
                handler: function () {
                    addSdtBdiSetDialog();
                }
            }, '-', {
                iconCls: 'icon-edit',
                text: '编辑',
                plain: 'true',
                onClick: function () {
                    updateSdtBdiSetDialog();
                }
            }],
            columns: [[
                {
                    field: 'oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" name="selectRadio" id="selectRadio"' + index + ' value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'Id', title: '指标集Id', width: '200px', align: 'center', hidden: true
                },
                {
                    field: 'BdiSetName', title: '指标集名称', width: '200px', align: 'center'
                },
                {
                    field: 'BdiDomainName', title: '所属指标域', width: '200px', align: 'center'
                },
                {
                    field: 'Remarks', title: '指标集备注', width: '250px', align: 'center'
                }
            ]],
            onClickRow: function (index, row) {
                checkedIndex = index;

                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedIndex = index;

                //加载完毕后获取所有的checkbox遍历
                var radio = $("input[type='radio']")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $("input[type='radio']")[index].checked = true;
                }
                else {
                    $("input[type='radio']")[index].checked = false;
                }

                updateSdtBdiSetDialog();
            }
        });
    });

    /**
     * 新增指集-Dialog。
     */
    function addSdtBdiSetDialog() {
        $('<div></div>').dialog({
            id: 'addSdtBdiSetDialog',
            title: '新增指标集',
            width: '500px',
            height: '300px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiSet/addPage',
            modal: true,
            onLoad: function () {
                //初始化表单数据
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    //提交表单
                    $('#addSdtBdiSetForm').form('submit', {
                        url: '/sdtBdiSet/add',
                        onSubmit: function () {
                            if ($("#addSdtBdiSetForm").form("validate")) {
                                var res = $("#sdtBdiSetIdsCombobox").combobox('getValues');
                                $("#sdtBdiDomainIds").val(res.toString());
                                return true;
                            } else {
                                return false;
                            }
                        },
                        //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                        success: function (data) {
                            //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                            var obj = jQuery.parseJSON(data);
                            if (obj.success) {
                                $.messager.alert('提示消息', obj.message);
                                $("#addSdtBdiSetDialog").dialog('destroy');
                                $('#sdtBdiSetDataGrid').datagrid('reload');
                                $("#sdtBdiSetDataGrid").datagrid("unselectRow", checkedIndex);
                            } else {
                                $.messager.alert('提示消息', obj.message);
                            }
                        }
                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#addSdtBdiSetDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 更新指标集-Dialog。
     */
    function updateSdtBdiSetDialog() {
        var row = $("#sdtBdiSetDataGrid").datagrid("getSelected");
        if (row) {
            $('<div></div>').dialog({
                id: 'updateBidSetDialog',
                title: '修改指标集内容',
                width: '500px',
                height: '300px',
                closed: false,
                cache: false,
                draggable: false,
                resizable: false,
                href: '/sdtBdiSet/updatePage?id=' + row.Id,
                modal: true,
                onLoad: function () {
                    //初始化表单数据
                },
                onClose: function () {
                    $(this).dialog('destroy');
                },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //提交表单
                        $('#updateSdtBdiSetForm').form('submit', {
                            url: '/sdtBdiSet/update',
                            onSubmit: function () {
                                if ($("#updateSdtBdiSetForm").form("validate")) {
                                    var res = $("#sdtBdiDomainIdsCombobox").combobox('getValues');
                                    $("#sdtBdiDomainIds").val(res.toString());
                                    return true;
                                } else {
                                    return false;
                                }
                            },
                            //注意ajax的url的后台action方法必须有返回值return "json"，而不是return null,否则下面的回调函数不起作用，sucess方法失效
                            success: function (data) {
                                //此处data={"success":true}实际为字符串，而不是json对象，需要用如下代码处理
                                var obj = jQuery.parseJSON(data);
                                if (obj.success) {
                                    $.messager.alert('提示消息', obj.message);
                                    $("#updateBidSetDialog").dialog('destroy');
                                    $('#sdtBdiSetDataGrid').datagrid('reload');
                                    $("#sdtBdiSetDataGrid").datagrid("unselectRow", checkedIndex);
                                } else {
                                    $.messager.alert('提示消息', obj.message);
                                }
                            }
                        });
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#updateBidSetDialog").dialog('destroy');
                    }
                }]
            });
        } else {
            $.messager.show({
                title: '提示信息',
                msg: '请选择一条记录进行编辑！',
                timeout: 1000,
                showType: 'slide'
            });
        }
    }

    /**
     * 删除-SdtBdiSet。
     */
    function deleteBdiSet(id) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/sdtBdiSet/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#sdtBdiSetDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>

</body>
</html>