<table id="sdtBdiBusiDataGrid"></table>

<script type="text/javascript">
    var checkedSdtBdiBusiIndex = undefined;
    var bdiId = '{{.bdiId}}';

    $(function () {
        $('#sdtBdiBusiDataGrid').datagrid({
            method: 'GET',
            selectOnCheck: true,
            checkOnSelect: true,
            singleSelect: true,
            autoRowHeight: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 30, 50],
            idField: 'Id',
            pagination: true,
            url: '/sdtBdiBusi/all?bdiId=' + bdiId,
            height: '390px',
            toolbar: [],
            columns: [[
                {
                    field: 'sdt_bdi_busi_oid',
                    title: '选择',
                    width: '50px',
                    formatter: function (value, row, index) {
                        return '<input type="radio" class="selectSdtBdiBusiRadioClass" name="selectSdtBdiBusiRadio" id="selectSdtBdiBusiRadio' + index + '" value="' + row.Id + '" />';
                    }
                },
                {
                    field: 'Id', title: '指标Id', width: '50px', align: 'center', hidden: true
                },
                {
                    field: 'BdiName', title: '所属指标', width: '150px', align: 'center'
                },
                {
                    field: 'DatasourceName', title: '所属数据源', width: '150px', align: 'center'
                },
                {
                    field: 'Name', title: '业务表名', width: '130px', align: 'center'
                },
                {
                    field: 'CnName', title: '业务中文名', width: '130px', align: 'center'
                },
                {
                    field: 'sdt_bdi_busi_opt1', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="sdtBdiBusiClass" onclick="updateSdtBdiBusiDialog(' + rowData.Id + ')">加工处理</a>';
                    }
                },
                {
                    field: 'sdt_bdi_busi_delete_opt', title: '操作', width: '150px', align: 'center',
                    formatter: function (value, rowData, rowIndex) {
                        return '<a href="#" class="sdtBdiBusiDeleteClass" onclick="deleteSdtBdiBusiDialog(' + rowData.Id + ')">删除</a>';
                    }
                }
            ]],
            onLoadSuccess: function (data) {
                $('.sdtBdiBusiClass').linkbutton({plain: true, iconCls: 'icon-add'});
                $('.sdtBdiBusiDeleteClass').linkbutton({plain: true, iconCls: 'icon-add'});
            },
            onClickRow: function (index, row) {
                checkedSdtBdiBusiIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiRadioClass")[index].checked = false;
                }
            },
            onClickCell: function (index, field, value) {
                checkedSdtBdiBusiIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiRadioClass")[index].checked = false;
                }
            },
            onDblClickRow: function (index, row) {
                checkedSdtBdiBusiIndex = index;
                //加载完毕后获取所有的checkbox遍历
                var radio = $(".selectSdtBdiBusiRadioClass")[index].disabled;
                //如果当前的单选框不可选，则不让其选中
                if (radio != true) {
                    //让点击的行单选按钮选中
                    $(".selectSdtBdiBusiRadioClass")[index].checked = true;
                }
                else {
                    $(".selectSdtBdiBusiRadioClass")[index].checked = false;
                }
//                updateSdtBdiBusiDialog();
            }
        });
    });

    /**
     * 更新指标计算业务表-Dialog。
     */
    function updateSdtBdiBusiDialog(busiId) {
        $('<div></div>').dialog({
            id: 'updateSdtBdiBusiDialog',
            title: '更新指标计算业务表',
            width: '1000px',
            height: '500px',
            closed: false,
            cache: false,
            draggable: false,
            resizable: false,
            href: '/sdtBdiBusi/detailConfigPage?bdiId=' + bdiId + "&id=" + busiId,
            modal: true,
            onLoad: function () {
            },
            onClose: function () {
                $(this).dialog('destroy');
            },
            buttons: [{
                text: '下一步',
                iconCls: 'icon-ok',
                handler: function () {
                    var resultArray = new Array();
                    var treeObj;
                    var nodes;

                    if ($("input[name='checkType']:checked").val() == 0) {//业务表
                        treeObj = $('#busiTablesTree');
                        nodes = treeObj.tree('getChecked');
                    } else {//业务字段
                        treeObj = $('#busiColumnsTree');
                        nodes = treeObj.tree('getChecked');
                    }

                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].attributes.isTable) {//table-节点
                            var obj = {
                                checkType: parseInt($("input[name='checkType']:checked").val()),
                                processType: $('#processType').combobox('getValue'),
                                busiId: busiId,
                                name: nodes[i].id,
                                cnName: nodes[i].attributes.comment,
                                bdiId: parseInt(bdiId),
                                datasourceId: parseInt(treeObj.tree('getRoot').id),
                                childColumns: new Array()
                            };
                            resultArray.push(obj);
                        } else {//columns-节点
                            //寻找父节点
                            var found = false;
                            var foundIndex = 0;

                            var parentNode = treeObj.tree('getParent', nodes[i].target);
                            if (parentNode != null) {
                                for (var j = 0; j < resultArray.length; j++) {
                                    if (parentNode.id == resultArray[j].name) {
                                        found = true;
                                        foundIndex = j;
                                        break;
                                    }
                                }
                            }

                            var tName = nodes[i].attributes.tableName;
                            var resArray = tName.split("_");
                            var tableAliasTemp = '';
                            for (var j = 0; j < resArray.length; j++) {
                                tableAliasTemp += resArray[j].substr(0, 1);
                            }

                            if (!found) {
                                var tableObj = {
                                    checkType: parseInt($("input[name='checkType']:checked").val()),
                                    processType: $('#processType').combobox('getValue'),
                                    busiId: busiId,
                                    name: parentNode.id,
                                    cnName: parentNode.attributes.comment,
                                    bdiId: parseInt(bdiId),
                                    datasourceId: parseInt(treeObj.tree('getRoot').id),
                                    childColumns: new Array()
                                };

                                var columnObj = {
                                    name: tableAliasTemp + "." + nodes[i].id,
                                    cnName: nodes[i].attributes.comment,
                                    sequence: nodes[i].attributes.sequence,
                                    comment: nodes[i].attributes.comment,
                                    dataType: nodes[i].attributes.dataType,
                                    dataLength: parseInt(nodes[i].attributes.columnType.replace(/\D/g, ''))
                                };

                                tableObj.childColumns.push(columnObj);
                                resultArray.push(tableObj);
                            } else {
                                var columnObj = {
                                    name: tableAliasTemp + "." + nodes[i].id,
                                    cnName: nodes[i].attributes.comment,
                                    sequence: nodes[i].attributes.sequence,
                                    comment: nodes[i].attributes.comment,
                                    dataType: nodes[i].attributes.dataType,
                                    dataLength: parseInt(nodes[i].attributes.columnType.replace(/\D/g, ''))
                                };

                                resultArray[foundIndex].childColumns.push(columnObj);
                            }
                        }
                    }

                    debugger;
                    var effectRow = new Object();
                    effectRow["selectedTables"] = JSON.stringify($('#selectedTablesCombobox').combobox('getValues'));
                    effectRow["id"] = $("#id").val();
                    effectRow["bdiId"] = $("#bdiId").val();
                    effectRow["addTables"] = JSON.stringify(resultArray);
                    effectRow["processType"] = $('#processType').combobox('getValue');

                    $.post(
                            "/sdtBdiBusi/update",
                            effectRow,
                            function (data) {
                                if (data.success) {
                                    //成功选择后，sdt_bdi_busi_config-详细配置Dialog
                                    $("#updateSdtBdiBusiDialog").dialog('destroy');
                                    addBdiBusiConfigDetailDialog();
                                }
                            },
                            "JSON"
                    ).error(function () {
                        $.messager.alert("提示", "提交错误了！");
                    });

//                    $.ajax({
//                        url: "/sdtBdiBusi/update",
//                        async: false,
//                        cache: false,
//                        type: 'POST',
//                        data: effectRow,
//                        dataType: 'json',
//                        error: function (data) {
//                            $.messager.alert('提示消息', data.message);
//                        },
//                        success: function (data) {
//                            if (data.success) {
//                                //成功选择后，sdt_bdi_busi_config-详细配置Dialog
//                                $("#updateSdtBdiBusiDialog").dialog('destroy');
//                                addBdiBusiConfigDetailDialog();
//                            }
//                        }
//                    });
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $("#updateSdtBdiBusiDialog").dialog('destroy');
                }
            }]
        });
    }

    /**
     * 删除 - SdtBdiBusi。
     */
    function deleteSdtBdiBusiDialog(id) {
        $.messager.confirm('确认信息', '您确认删除该行记录?', function (r) {
            if (r) {
                $.ajax({
                    url: "/sdtBdiBusi/delete",
                    async: false,
                    cache: false,
                    type: 'POST',
                    data: {id: parseInt(id)},
                    dataType: 'json',
                    error: function (data) {
                        $.messager.alert('提示信息', data.message);
                    },
                    success: function (data) {
                        if (data.success) {
                            $.messager.alert('提示信息', data.message);
                        } else {
                            $.messager.alert('提示信息', data.message);
                        }
                        $('#sdtBdiBusiDataGrid').datagrid('reload');
                    }
                });
            }
        });
    }
</script>
